[2012-07-02 23:24] terryyin opened #1 "tokenizer for /*/* \n int*/"

[2012-07-02 23:25] terryyin opened #2 "Comment segment should not be counted as one token."

[2013-01-22 10:30] kattassen opened #3 "map function iterates indefinitely"
The third argument in the following map function repeats indefinitely (both with preprocessor set and unset (true or false)). It worrks if the third argument is removed.
r = map(analyze_source_file, files, itertools.repeat(options.use_preprocessor))

This appends None objects to the filename list and the file open function will fail.

From "map()" Python Documentation:
"If additional iterable argu

[2013-01-23 12:56] #3 closed, assigned to terryyin

[2013-01-23 14:41] #1 closed, assigned to nobody

[2013-01-28 05:05] terryyin opened #4 "no interim output when using python version < 3"
When -t1

[2013-01-29 00:07] #4 closed, assigned to nobody

[2013-05-07 20:48] duca opened #6 "Inifinite loop on python2.6"
Greetings,
I tried to run hfcca.py on python2.6 and it enters an infinite loop, unfortunately i was unable to gather much info on where to start debugging.

Currently, when i try leave the process by CTRL+C, I only get ^C on the screen. Only killing python gives the prompt back.

I get no error message nor anything except the following lines:

NLOC    CCN   token   param           function@line@fi

[2013-05-08 19:04] #6 closed, assigned to nobody

[2013-06-21 19:31] ellemenno opened #7 "add support for `--version` option"
Please add support to trace the current version number and exit when invoked with `--version`, e.g.:

[code]

[2013-06-22 15:44] #7 closed, assigned to nobody

[2013-08-17 00:57] terryyin opened #8 "support java."

[2013-08-26 06:28] norkos opened #9 "#ifndef in c++"
Hi,

first of all: great tool :)  I have found out that is not dealing correctly with 'ugly' ifdefs in C++.

int main(){
# ifndef NORBUS

[code]
# else

[code]
# endif

[code]

}

Could you please look at this ?

Thanks,
Norbert

[2013-08-26 06:28] #9 closed, assigned to nobody

[2013-08-26 06:30] norkos opened #10 "#ifndef in c++"
Hi,

first of all: great tool :) I have found out that is not dealing correctly with 'ugly' ifdefs in C++.

int main(){
# ifndef NORBUS

if(true){
return 1;
# else

if(false){
return 0;
# endif

}
return 1;

}

Could you please look at this ?

Thanks,
Norbert

[2013-08-28 01:39] #10 closed, assigned to nobody

[2013-09-09 09:22] #8 closed, assigned to nobody

[2013-09-09 09:22] terryyin opened #11 "name of destructors are not correct"
They comes without ~

[2013-09-09 13:24] terryyin opened #12 "need an article about cyclomatic complexity."

[2013-09-15 00:13] terryyin opened #13 "remove stored_result"

[2013-09-15 00:40] terryyin opened #14 "statistics include .h file."

[2013-09-15 00:57] terryyin opened #15 "unit test for xml output."

[2013-09-15 01:33] #15 closed, assigned to nobody

[2013-09-15 01:33] terryyin opened #16 "jenkins plugin for hfcca"

[2013-09-16 10:28] terryyin opened #17 "Rename hfcca"
Hfcca has already got a little user base. But the hfcca is hard to pronounce (even I don't know how to pronounce it.)

So better use a different name.

[2013-09-17 08:07] terryyin opened #18 "support python"

[2013-09-17 08:17] terryyin opened #19 "create lizard.gitub.io"

[2013-09-24 07:35] norkos opened #20 "headers in cpp"
Hi,

as c/c++ files we use (c|C|cpp|CPP|CC|cc|mm). Unfortunately it can happen that someone will put inline functions into headers.

Could you extend this pattern for headers file ? Complexity for function declarations already works fine.

[2013-09-24 10:37] norkos opened #21 "#ifndef in c++"
Hi,

please check the example:

class Constructor{
    int m_timer;

public:
Constructor::Constructor()
# ifdef MAGIC

:
    m_timer(5)
# endif

{
    int a = 0;
}
};

it doesn't work correctly even when i use -P flag.

Sorry for so strange examples :) and I think your tool is great. Such a code should be avoided.

[2013-09-25 06:28] #20 closed, assigned to nobody

[2013-09-25 14:15] #14 closed, assigned to nobody

[2013-09-25 14:16] #2 closed, assigned to nobody

[2013-09-26 07:53] #21 closed, assigned to nobody

[2013-09-26 09:35] norkos opened #22 "Support for #elif"
Hi,

please check the example:

int main(){
# ifdef A

[code]
# elif (defined E)

[code]
# endif

[code]

}

breaking the lizard. Thank you.

[2013-09-30 08:34] terryyin opened #23 "handle alias and links"

[2013-09-30 08:35] terryyin opened #24 "more friendly error message and continue."

[2013-09-30 12:37] #22 closed, assigned to nobody

[2013-10-01 04:26] #24 closed, assigned to nobody

[2013-11-21 14:31] #17 closed, assigned to nobody

[2013-12-29 08:26] terryyin opened #28 "word count and tag cloud"

[2014-01-09 01:54] terryyin opened #29 "return type is not identified and counted"
The return type is not identified and counted. E.g.
int foo() {
}

the function will be identified as foo()

[2014-02-09 03:25] terryyin opened #31 "Comments in code as command for suppressing the warning"
Like lint tools special comments in code should be used as command for suppressing the warning.

[2014-02-09 03:26] terryyin opened #32 "Make it easily extensible for counting keywords in function"

[2014-02-09 12:19] terryyin opened #33 "]= is not a token"

[2014-03-07 02:51] longtut opened #34 "support js"
Hi

so could lizard support JS?

thanks!

[2014-03-15 21:06] dupgit opened #35 "Please add a way to sort results by a specified field."
One may want to know which function has the highest CCN score or the biggest nloc.

[2014-03-18 20:00] #35 closed, assigned to nobody

[2014-03-30 01:03] #33 closed, assigned to nobody

[2014-03-30 01:09] #32 closed, assigned to nobody

[2014-04-03 12:07] terryyin opened #37 "Halstead complexity"

[2014-04-04 04:49] terryyin opened #38 "support Python"

[2014-04-05 00:35] terryyin opened #39 "support ruby"

[2014-04-08 11:45] rschulze opened #40 "Don't print result status when everything is ok"
Hello,
I am using lizard as part of a larger code checking framework at work and therefore need to parse its output (great tool that works without much fiddling, by the way). In case no problems are found, a "No warning found. Excellent!" message is printed. I believe the more unix-oid way would be to print nothing and just quit quietly (that would also make parsing more straightforward). Do you t

[2014-05-14 01:19] terryyin opened #47 "Add option to filter languages"

[2014-06-05 13:45] williamgranli opened #48 "Preprocessing counting."
I am not getting the right numbers for cyclomatic_complexity for C preprocessing that is done outside of methods (i.e. it is done in the header of the file).

Is this a known issue or is there any fix for this?

[2014-06-05 22:01] #48 closed, assigned to nobody

[2014-08-10 03:34] rakhimov opened #49 "NPath Complexity"

[2014-09-19 11:02] MarkBlaas opened #50 "Lizard failing on char sequence"
Lizard fails to parse a file when (a form of) the following sequence is encounterd (in regex) [a-zA-Z]<.*>>
So the following sequence is a failing sequence: a<>>

I encounterd the bug when trying to parse a java file with the following line of code:
private static final Map<String, Map<Byte, String>> VAR_NAME = ImmutableMap.<String, Map<Byte, String>> builder()
Although this is really ugly, it is

[2015-01-05 14:31] tholin opened #51 "Crash when parsing Linux kernel"
Parsing the Linux kernel will crash with an error like this:
[code]
The problem is in the file `drivers/isdn/hardware/avm/avmcard.h`
Here is a small cutout
[code]
The crash seems to be caused by those `<-` in the comment sections.

[2015-01-05 17:23] terryyin commented on #51
Thanks for the bug report. I've fixed it.

The bug wasn't because of the content of the comment, but the macro definition. Lizard tried to read until the end of the line with it starts with #,

I've made a new release in pypi.

Please kindly verify the fix and close the issue. Thanks:-)

[2015-01-05 17:24] #18 closed

[2015-01-05 17:24] #38 closed

[2015-01-05 18:02] norkos opened #52 "CPP, problem introduced in lizard"
Hi,

I am using my forked version of you repo (https://github.com/norkos/lizard.git) which is quite old one. While changing to new version I have met problem in files like:

#include <iostream>

class Timer{

#ifndef TEST
    Timer(int j);
#else
    Timer();
#endif
};

#ifndef TEST
Timer::Timer(int j)
{
#else
Timer::Timer()
{
#endif
    for (int i = 0; i < 10; i++)
    {
    }

#ifndef TEST
    st

[2015-01-05 18:13] tholin commented on #51
The fix works for `avmcard.h` but now I get another crash in `lib/div64.c`
Here is another cutout.
[code]
[code]

[2015-01-06 01:23] terryyin commented on #52
Yes. This is because lizard previously would choose only one branch to parse if there is a #if. I've removed that feature, I believe should be because it created some trouble and keep things simple.

In the above code, if the left brace { can be left out of the #if block, the result will look better.

Do you think I should introduce the feature back?

[2015-01-06 01:24] terryyin commented on #51
Ok. Fixed and I've tested it against the linux kernel myself.
It took like 3 minutes with a -t8 option on my computer.

thanks!

[2015-01-06 01:26] terryyin commented on #51
[code]

[2015-01-06 12:38] norkos commented on #52
Hi Terry, thank you a lot for your quick response. Unfortuntaly I am using Lizard for the code that I cannot change therefore I cannot move "{".

I would really appriciate if you could introduce the feature back. Otherwise I would need to stay with elder version. I have seen lot's of great work in Lizard and it would a pity for me.

If you want I can make some tests of the branch.

Thank you in ad

[2015-01-06 14:11] tholin commented on #51
Thanks for the quick fix. Problem resolved.

[2015-01-06 14:11] #51 closed

[2015-01-07 14:35] terryyin commented on #52
Let me look at it.

[2015-01-08 11:36] tholin opened #53 "IndexError: pop from empty list errors"
I ran lizard on various projects and got a bunch of pop from empty list errors. Here are some samples
https://www.dropbox.com/s/h43p1b4uozqly59/vgabios.c from qemu
https://www.dropbox.com/s/bpib35xzrq3hik3/arg9.C from gcc
https://www.dropbox.com/s/u5o94tbgn7do6d6/temp_arg_nontype.cpp from  llvm
https://www.dropbox.com/s/k49d5ywfav58im0/johab.c from glibc
https://www.dropbox.com/s/slnz4uhxv8mul0h/c

[2015-01-08 11:42] tholin opened #54 "RuntimeError: maximum recursion depth exceeded error"
Some files cause a maximum recursion depth exceeded error. Sample
https://www.dropbox.com/s/0pg9cwnkdoevy03/fp_and_simd.c from valgrind

[code]

[2015-01-08 11:46] tholin opened #55 "Hang on some python files"
Lizard gets stuck on some python files. Sample
https://www.dropbox.com/s/wjl70kodhb3qtlu/cp037.py

[code]

[2015-01-08 23:21] terryyin commented on #55
@tholin thanks for all these report. I will get them fixed.

[2015-01-09 16:04] terryyin commented on #55
This one is fixed! Now I know a better way of parsing strings.

[2015-01-09 16:04] terryyin commented on #54
This one is fixed.

[2015-01-09 16:05] terryyin commented on #53
These are all tested and passed.

[2015-01-09 16:05] terryyin commented on #52
It will take a bit more time.

[2015-01-10 08:48] terryyin commented on #52
OK. Now you can have that functionality back by using an extension:

lizard -Ecpre

[2015-02-11 14:18] #55 closed

[2015-03-24 16:30] rschulze opened #56 "Wrong CCN of Python file"
Hi!

I stumbled upon a Python file at work for which lizard calculates a wrong CCN.

[code]

Lizard tells me that method1() ranges from line 1 to line 62 and has a CCN of 20. If I remove the last two lines (memoize()), it works as expected.

Bye, Robert

Btw: lizard is a great tool and I use it every day.

[2015-03-25 16:09] terryyin commented on #56
@rschulze /Robert, thanks for the report. I will look at it within days.

[2015-03-30 00:00] jxieeducation opened #57 "lizard tutorial"
Lizard helps me write good code on a daily basis.

Had some time this weekend to write a simple tutorial / intro http://thrashing.io/tutorial/551891bccfead697722b05ad

Maybe others can find it helpful. Keep up the great work!

[2015-03-30 00:06] terryyin commented on #57
Hi Jason,

thanks! I will add a link to it from lizard.ws.

[2015-03-30 00:25] #54 closed

[2015-03-30 00:31] terryyin commented on #56
Hi @rschulze this code might be simplified a bit too much and missed the key part. I cannot reproduce the problem. Could you please supply more?

[2015-04-09 18:15] rschulze commented on #56
Hi @terryyin : The problem seemes to be solved after upgrading :-) Thanks for your help!

[2015-04-09 18:15] #56 closed

[2015-04-13 06:15] itavero opened #58 "Set whitelist via flag"
I have the white list for Lizard stored in a different directory than where I run Lizard from (due to build automation).
I would like to see an option to pass a white-list to Lizard via a special command line flag.

[2015-04-13 06:24] #57 closed

[2015-04-13 06:24] #53 closed

[2015-04-13 06:25] #31 closed

[2015-04-13 06:26] #52 closed

[2015-04-13 06:26] terryyin commented on #58
Let me add it ...

[2015-04-13 06:47] #34 closed

[2015-04-13 06:48] #16 closed

[2015-04-13 06:53] terryyin commented on #58
Use -W filename
I've created a new release 1.8.11 for this.

[2015-04-13 06:53] #12 closed

[2015-04-13 06:53] #13 closed

[2015-04-13 06:53] #19 closed

[2015-04-13 06:54] #28 closed

[2015-04-13 06:55] #40 closed

[2015-04-13 07:55] itavero commented on #58
Woow! Thanks for the quick response and change! :+1:

[2015-04-13 07:55] #58 closed

[2015-07-08 12:30] JoePortlandME opened #60 "Line comment "#lizard forgives" does not work in Python"
Line comment "#lizard forgives" does not work in Python

After browsing source code - looks like this was not made to work when analyzing Python code

[2015-07-09 15:13] JoePortlandME commented on #60
Works on the same line, have to double up the "#"

[2015-07-09 15:13] #60 closed

[2015-07-21 08:29] kenji21 opened #61 "Swift langage support"
We are using lizard on objc project (thanks you for this nice tool that improve xcode using a simple script), is there any chances that brand new Swift language will be supported ?

I have no idea on how to add support for it, maybe some indication will help to support it.

[2015-07-21 08:56] terryyin commented on #61
Great idea! I’m going to implement it next week after I study the language a bit.

[2015-07-21 09:01] kenji21 commented on #61
Wow, nice :-D

[2015-09-04 02:44] mythnc opened #62 "about filename in whitelizard.txt"
Actually, it's path not filename.
You have to type the path instead of only filename.
I think the explanation in readme is too vague

[2015-10-05 20:39] rakhimov opened #64 "C++11 Uniform Init. within constructor Initialization list"
C++11 '{}' for uniform initialization
in constructor initialization list
seems to break some assumptions in the code
that the definition starts with the first brace.

[2015-10-06 00:40] terryyin commented on #64
Hi,
I really need to learn C++11 more systematically:-)
It's solved and I'm going to create a new release.

Terry

[2015-10-06 10:48] rakhimov commented on #64
Thanks for fixing it fast.

[2015-10-06 14:50] rakhimov opened #69 "Detection of Deeply Nested Control Structures"
This metric may not apply to the whole function,
but the maximum 'nestedness' (nesting for-loops, if-statements, etc.)
may be an interesting metric to detect code smell.

It closely relates to indentation.
Got this from the Linux kernel coding style:

more than 3 levels of indentation, you're screwed anyway, and should fix
your program.

[2015-10-11 01:31] #64 closed

[2015-10-11 01:33] terryyin commented on #50
Hi @MarkBlaas , I think the issue has been fixed by @rakhimov , do you mind to confirm?

[2015-10-12 03:53] rakhimov commented on #50
The problem with C++ templates was triple '>>>'. The given Java example is parsed ok. I don't see any problems though I am not much experienced in Java.

@MarkBlaas, it would be helpful to get the whole file (on github?).

[2015-10-12 03:55] rakhimov commented on #11
@terryyin , isn't this already fixed?

[2015-10-12 07:22] MarkBlaas commented on #50
It has been a while :) good to see that it is still worked on. Unfortunately the file is part of some client code, so no can do there. But although i'm pretty busy this week, I'll probably manage to squeeze in some test time. I'll let you guys know what I find.

[2015-10-15 11:57] MarkBlaas commented on #50
Hi Guys, it looks like it's fixed indeed. It is a while ago, but I think it was language unrelated, so it could very well be the triple `>>>` issue in C++ although my code was Java.
I dug up some old analysis and compared the results. Here's a summary:
[code]
Cheers :+1:

[2015-10-15 23:08] terryyin commented on #50
great @MarkBlaas let's close this issue. Thanks!

[2015-10-15 23:08] #50 closed

[2015-10-16 21:18] rakhimov opened #70 "Qualify C++ functions with namespace and class names"
Currently, the following code will produce the same function signatures for reporting.
[code]
It would be beneficial to have class name and/or namespace attached to the function names.

[2015-10-19 08:06] rakhimov commented on #70
It is not clear if all instances of function definitions should be qualified. There are some tricky cases with C++.

- Class/struct within a function (the qualification may need to include the function name):
[code]
- Lambda functions (unnamed closure/class in C++11):
[code]

[2015-10-21 08:37] terryyin commented on #70
@rakhimov , this looks like JavaScript!
Hmmm, I've actually been thinking what measurement would make sense for JavaScript nested functions, which aren't corner cases at all for js.
So far, lizard will just ignore them. But I think maybe we should add the ability of detecting them before we can decide how to measure.

[2015-10-21 09:04] rakhimov commented on #70
Can the complexity of the inner constructs be just silently added to the complexity of the outermost construct?

[2015-10-21 09:13] rakhimov commented on #70
The Lizard analysis of Python code with nested functions reports each function separately with line number information. Is this the same behavior across other languages?

[2015-10-22 00:21] terryyin commented on #70
Adding to the outermost construct makes a lot of sense. Let me do it.
The Python nested function was implemented separately, unfortunately. I will see if I can merge the implementation.

[2015-12-14 09:29] terryyin commented on #61
Hi @kenji21 ,
it has been a while. I finally did something with Swift.
I added a new option -l, which can filter the languages:
   lizard -lswift <folder_name>

will analyse swift code only, otherwise it will process all file types it knows.

This is only a draft version for Swift support. I’m not sure if it’s completed yet. I don’t know much about Swift myself.
There’s at least one open issue, th

[2015-12-14 23:27] terryyin opened #76 "output html"

[2015-12-14 23:53] terryyin commented on #62
Hi @mythnc ,
Thanks for the idea and sorry for the super late reply.
I've updated the README and added "Please notice that if you assign the file pathname, it need to be exactly the same relative path as Lizard find the file. An easy way to get the file pathname is copy it from the Lizard warning output."

I also updated the example a bit.

[2015-12-14 23:54] #11 closed

[2015-12-15 13:59] mythnc commented on #62
Thank you for updating :+1:

[2015-12-15 13:59] #62 closed

[2015-12-15 20:26] kenji21 commented on #61
Hi terry, nice to have some advancement on this.

Unfortunately I haven't switched to fulltime dev using swift yet. So I can't respond to your question.

Maybe having a look at these "swift grammar" files of the tailor project can help : https://github.com/sleekbyte/tailor/tree/master/src/test/swift/com/sleekbyte/tailor/grammar

[2015-12-15 23:34] terryyin commented on #61
Thanks!

[2015-12-16 08:18] kenji21 commented on #61
Cool, it also can find swift an objc issues :

[code]

[2015-12-16 08:20] terryyin commented on #61
There’s also a new option -l to select the language, e.g.
lizard -lswift -lobjc

will only search for swift and objective-c code.

[2015-12-16 08:24] kenji21 commented on #61
Ok, surprising that the EPGCollectionViewLayout.swift:12 is a method of an interface :

[code]

[2015-12-16 08:27] terryyin commented on #61
Congrats! you just found a bug! Thanks.

I thought adding Swift shouldn’t be that easy… I will fix it asap.

[2015-12-16 08:34] terryyin commented on #61
Hi @jenji21 ,

I just made a new release. It will be great if you can try it at your convenience.

terry

[2015-12-16 08:45] kenji21 commented on #61
Just tried, now it's on the next method of the protocol :

[code]

[2015-12-16 09:13] terryyin commented on #61
do you mind send me the file or the context?

[2015-12-16 09:56] kenji21 commented on #61
Sure, this project will be open-sourced soon :-)

[EPGCollectionViewLayout.swift.zip](https://github.com/terryyin/lizard/files/63820/EPGCollectionViewLayout.swift.zip)

[2015-12-18 03:45] terryyin commented on #61
thanks for sharing.

Now the problem is fixed.

[2015-12-18 08:12] kenji21 commented on #61
Cool, seems to work well on Apple Lister sample:

https://developer.apple.com/library/ios/samplecode/Lister/Introduction/Intro.html

[2015-12-30 07:04] rickmak opened #77 "Version 1.9.7 runtime error"
I got the following error at 1.9.7, run at travis-ci.

[code]

Downgrade to 1.9.6 remove the problem.

[2015-12-30 07:20] terryyin commented on #77
Oops, sorry! I’ve fixed the problem and made a new release.

[2015-12-31 07:23] rickmak commented on #77
Thanks, it is working now.

[2015-12-31 07:23] #77 closed

[2016-01-04 10:27] gretzki opened #78 "Error when running with -X option"
Hi!

Im using latest commit (2c766cad16263ee84f3453f60cf13037b202dba1) with python 2.7.
When running lizard without parameters, everything works fine.
When using -X option, it says
[code]

Thanks! :)
Cheers,
Chris

[2016-01-07 13:23] fredfoc commented on #78
same here :-(

[2016-01-07 13:24] terryyin commented on #78
Sorry! I’ve been travelling. Will look at it asap.

[2016-01-07 13:31] terryyin commented on #78
Fixed. And created a new release.

[2016-01-07 13:36] fredfoc commented on #78
printer(result, options, OutputScheme(options.extensions)) change to printer(result, options) does the trick..

[2016-01-07 13:36] fredfoc commented on #78
oops did not see your message

[2016-01-07 13:36] fredfoc commented on #78
thanks for your quick reaction :-)

[2016-01-07 15:32] terryyin commented on #78
Thanks for reporting! Let me know if anything is missing.

[2016-01-09 14:38] #78 closed

[2016-01-14 08:08] erizhang opened #81 "IndexError: pop from empty list"
Trying to calculate the complexity for a folder, the source files are huge. it prompts the error below:
[code]

and the result is dumped out for 181 lines.

[2016-01-14 08:13] terryyin commented on #81
Oops, thans Eric!

I guess it's new. Let me investigate asap.

[2016-01-14 08:16] terryyin commented on #81
Hey @erizhang,

I know where to fix the problem but could you please do me a favour to find which exact file failed lizard?

br, Terry

[2016-01-14 08:38] erizhang commented on #81
@terryyin please check your private mail for file, and wechat for password.

[2016-01-14 09:05] terryyin commented on #81
@erizhang fixed and released. But still, please review my fix: https://github.com/terryyin/lizard/commit/909df68c9092ae3a6e2a07e7af61a6e3789013d5

[2016-01-15 02:24] erizhang commented on #81
Maybe you solve the return `struct` issue, but still has another one:
[code]
But notice that, if I deal the files one by one, the lizard works well, this issue is only produced when handle the files as batch.

[2016-01-15 02:34] terryyin commented on #81
Hi Eric,

It’s highly unlikely that the problem is caused by multiple files. Could you please help me to investigate again? I’m counting on you, bro.

I could just add an if before self.bracket_stack.pop(), but don’t feel right to do it unless I know what causes the problem.

terry

[2016-01-15 10:33] vicgonzalez opened #82 "C/C++ several "case:" labels together treated as separated"
If several "case:" labels in a switch are together (without other statements or breaks in the middle) they are treated as separate paths increasing the complexity number.
switch(var){
case 1:
case 2:
  doSomething();
 break;
}
Since they are like ORs, they should be treated as one single execution path. Has to be taken into account also for the modified cyclomatic complexity.

[2016-01-15 13:54] terryyin commented on #82
@vicgonzalez theoretically, each "case" is just an if statement and adding one branch, leaving the branch empty might reduce the possible output but doesn't reduce the possible inputs. From testing perspective, the amount of tests needed is decided by the possible inputs not the outputs. Just like an if statement with one condition will add 1 cc with or without an else statement. And by the way, i

[2016-01-15 13:57] terryyin commented on #81
@erizhang could you please confirm and close the case?

[2016-01-17 08:11] c0yote opened #83 "Failing to find files."
Am I misusing this software?  For some reason when providing a path, the application doesn't find source files.  I can direct it to specific source files as show below.

No files analyzed against directory:
[code]

Analysis against single source file in same directory:
[code]

Can't get it to work with full paths either.

I got it with a pip install.

 * lizard reports version 1.9.14
 * python ver

[2016-01-17 08:17] terryyin commented on #83
Thanks for reporting, I will look at it asap.

[2016-01-18 11:58] vicgonzalez commented on #82
I've done a little research and I think I'm not the first with that kind of issue:
https://github.com/jshint/jshint/issues/840
https://github.com/jshint/jshint/pull/2611
Some mention that in pages 26, 27 of
http://www.mccabe.com/pdf/mccabe-nist235r.pdf
states that fall through cases count as 1...
May be the issue is polemic enough to include a flag to choose either way according to one's taste...

[2016-01-19 03:20] terryyin commented on #83
@c0yote I made a fix (1.9.18). Could you please try it again?

[2016-01-19 03:40] c0yote commented on #83
Sorry, still doesn't work.

Install shows correct version.

[code]

Run on directory still doesn't work.

[code]

Run on source file still does.

[code]

It does work on C++ source directories.

[code]

I tried it on a couple other machines (windows and linux) with no success.  It also didn't work on 3.4.3.

[2016-01-19 04:43] terryyin commented on #83
Yeah, now the reason is because you run it with -m, not by the installed
lizard script.

Let me make the -m work as well. Will let you know.
On 19 Jan 2016 12:40, "U.G. Wilson" <notifications@github.com> wrote:

[2016-01-19 04:47] c0yote commented on #83
So should this way work?

[code]

[2016-01-19 04:49] terryyin commented on #83
Hmmm. Can you let me see the output of lizard -h?
On 19 Jan 2016 13:47, "U.G. Wilson" <notifications@github.com> wrote:

[2016-01-19 04:50] c0yote commented on #83
[code]

[2016-01-19 05:15] terryyin commented on #83
Hmm, strange. The listed languages only has cpp. Let me investigate...

What about lizard --version?
On 19 Jan 2016 13:50, "U.G. Wilson" <notifications@github.com> wrote:

[2016-01-19 06:05] terryyin commented on #83
@c0yote can you confirm the lizard --version? (without -m)

[2016-01-19 07:01] c0yote commented on #83
[code]

[2016-01-20 19:41] jbiswas opened #85 "pip install fails building wheel for hfcca"
I am trying to install lizard on a debian 8.0 machine. But I get the following error when running `sudo pip install lizard`

[code]
After that if I try to display this error again I must run `sudo pip wheel lizard`

[2016-01-23 03:02] terryyin commented on #85
Sorry for the late response, traveling in Seoul for a week.

@jbiswas did you mean that after `sudo pip wheel lizard` it worked?

[2016-01-23 05:42] jbiswas commented on #85
@terryyin thanks for getting back to me. No running `sudo pip wheel lizard` didn't work. I had to run `sudo pip install hfcca` to get lizard. Even then the ouput of pip install contained the same errors as above. But at least I can run `lizard`.

[2016-01-23 07:15] terryyin commented on #82
Hmm, are you suggesting that I should make the modified CCN as default?
I’m thinking if I should conduct a survey...

[2016-01-24 08:30] terryyin commented on #85
Could you please try again and see if the problem is fixed?

I didn't enable wheel in the previous releases. I hope it's working now.

[2016-01-24 08:30] terryyin commented on #83
@c0yote the problem is fixed now:-)

[2016-01-24 08:33] jbiswas commented on #85
@terryyin wow it works in version 1.9.22. Thanks very much!

[2016-01-24 08:33] #85 closed

[2016-01-25 06:50] c0yote commented on #83
It is indeed, sir.  Thanks for your effort!  Great software!

[2016-01-25 06:51] terryyin commented on #83
have you tried `lizard -EWordCount` ? lot of fun:-)

[2016-01-25 06:53] c0yote commented on #83
Second thing I did, lol.  It's pretty spiffy.  Was pleasantly surprised with the words that came out, haha.

[2016-01-25 06:54] terryyin commented on #83
Thanks for the issue:-) Let's close it now.

[2016-01-25 06:54] #83 closed

[2016-01-25 13:40] vicgonzalez commented on #82
No, what I meant is that for 'not modified' cyclomatic complexity there are people that counts each case separately (like you) and people that counts fall through cases as one, like McCabe in:
http://www.mccabe.com/pdf/mccabe-nist235r.pdf
of people in the similar discussion threads
jshint/jshint#840
jshint/jshint#2611
My suggestion is to add a new flag (apart from the modified -m) to calculate the

[2016-01-27 22:04] pricemi115 opened #86 "Request: Ability to specify NLOC threshold"
Thank you for this tool :)
I am using this to ensure our code meets the CCN & NLOC requirements of our coding standard.
It would be nice if we could specify a threshold for NLOC like we can for CCN, To my team, NLOC is a better criterion than raw length. I took the liberty of modifying my local lizard.py (v1.9.22) to do this.
See attached,
[lizard.py.txt](https://github.com/terryyin/lizard/files/1

[2016-01-28 00:00] terryyin commented on #86
Thanks @pricemi115 yes, I agree it's very useful.
Do you want to make a proper "pull request"? by fork my repository and make the change then send pull request. By doing this you will be listed as the contributor for this part:-)
Or you are fine that I just copy your code?

Reminder: if you send pull request, better also add enough test:-)

[2016-01-28 00:05] pricemi115 commented on #86
If you copy the code that would be easier. The credit really belongs to you anyway. It was a pretty easy mod :)

Sent from my iPhone

[2016-01-28 15:50] pricemi115 opened #87 "sys.exit(1) not called when "warnings only" enabled"
When invoking lizard via a command prompt on Windows, the Error level is not set to 1 when warnings are found, but the --warnings_only argument is specified.

Looking at the script, it appears that since print_result() is not called, the error condition is never set.
Probably need to set "sys.exit(1)" in print_clang_style_warning() as well.

[2016-01-29 01:18] terryyin commented on #87
Oops, this is a major problem from last time I refactored the code. Obviously I didn't have enough test.

Thanks. Fixing...

[2016-01-29 03:26] terryyin commented on #86
@pricemi115 In stead of add a new option `N`, I added a new option `T`.

`lizard -Tnloc=10`

will set the threshold for NLOC to be 10. A new release has been created, you can try now.

[2016-01-29 03:26] terryyin commented on #87
OK. Now it's fixed in the latest release.

[2016-01-29 03:31] pricemi115 commented on #87
Fantastic !! Thank you :)

[2016-01-29 03:32] pricemi115 commented on #86
Awesome!! We will try it out tomorrow or early next week.
Thank you :)

[2016-01-29 04:32] #81 closed

[2016-01-29 11:07] pricemi115 commented on #87
Hi Terry:

Just wanted to let you know that v1.9.25
addresses both issues: the new threshold features and the --warnings_only issue.

Thank you very much!!

Take care,
Mike Price.

Sent from my iPhone

[2016-01-29 11:12] terryyin commented on #87
Great:-)

[2016-01-29 11:12] #87 closed

[2016-01-29 11:13] #86 closed

[2016-01-29 23:07] wsnavely opened #88 "Issue analyzing C code with preprocessor directives"
I've been having issues with C code involving preprocessor directives, e.g. consider this toy function:

[code]
lizard won't parse this function by default, I believe because it can't account for all the brackets (both branches of the #ifdef introduce an open bracket).

Is this expected?  I see there is an -Ecpre flag that seems to help in some cases (though I'm not entirely clear what that flag d

[2016-01-30 00:59] terryyin commented on #88
@wsnavely yes, this is expected. Because there are more {s than }s.
And you are right, -Ecpre is designed for this purpose. -Ecpre works by always ignoring code between #else and #end (always assume the #if condition is true).

The document (including the docstring) isn't great about this. Let me improve it.

Any idea to make this better?

[2016-01-31 10:55] #39 closed

[2016-01-31 10:56] #47 closed

[2016-02-01 00:39] #61 closed

[2016-02-01 11:08] krzysztofjanski opened #89 "Probably variadic template increases complexity metric in C++"
The following test does not pass:

[code]

[2016-02-01 11:18] krzysztofjanski commented on #89
The problem can be with r-value reference symbol in the `condition_counter` function:
`conditions = set(['if', 'for', 'while', '&&', '||', '?', 'catch', 'case'])`

[2016-02-01 13:17] vsiddharth opened #90 "XML Output Missing Information"
The XML output from the tool is **missing** critical information which is present in the text output.
It would be wonderful if both formats had all the information.

[2016-02-01 13:18] vsiddharth opened #91 "Incorrect Function Length Computation"
Currently:
Function-Length = End_Marker - Begin_Marker

But the correct computation would be:
Function-Length = End_Marker - Begin_Marker + 1

[2016-02-01 13:29] terryyin commented on #90
@vsiddharth thanks for the information, let me add them.

[2016-02-01 13:30] terryyin commented on #91
You are right. This is fixed with NLOC but not LOC. Fixing...

[2016-02-01 13:31] vsiddharth commented on #90
@terryyin thanks!
It would be wonderful if you could also have **tags** or **releases**.

[2016-02-01 13:39] terryyin commented on #89
@krzysztofjanski thanks for the report and the test. Yes, it's because of the &&. Let me fix this.

BTW, is it possible to use the r-value reference symbol **inside** the function body?

[2016-02-01 13:49] krzysztofjanski commented on #89
Hello,

Yes, it's possible:
http://en.cppreference.com/w/cpp/language/reference (see examples).

In my opinion, to do it properly, you would need to distinguish whether && is between a type and a name:
The && as a logic operator can be used between names and as a r-value reference between a type and a name.

[2016-02-01 13:59] terryyin commented on #89
I see. I will first do a quick fix for the situation that && is outside the function body.

For the situation that && is between a type and a name... let me think about it... It doesn't make sense to have a r-value && without assignment "=" inside a function body, right?

[2016-02-01 14:04] krzysztofjanski commented on #89
You can have for example typedef:
`typedef int&& rref;`
or lambda:
`auto lambda_fun = [](std::string &&s){ cout << s << endl; }`

[2016-02-01 14:08] terryyin commented on #89
OK. I will make sure there's one test covering the typedef.

And for lambda... I think I should count lambda function as a nested function. If I implement that feature, then this problem is also solved, right?

[2016-02-01 14:12] krzysztofjanski commented on #89
I think so :) , I do not recall any other case at the moment.

[2016-02-01 17:15] wsnavely commented on #88
Thanks for the response, @terryyin.

I understand the -Ecpre tag better now, but I think that feature has an issue as well.  It doesn't seem to like code like this:

[code]
                    elif token.startswith("#endif"):
                        if if_stack and if_stack.pop().startswith("#el"):
                            else_count -= 1
                            if if_stack:

[2016-02-02 02:51] terryyin commented on #82
@vicgonzalez I've made a new option "-EMcCabe" to enable the McCabe version of cyclomatic complexity.
Here's the implementation:
https://github.com/terryyin/lizard/blob/master/lizard_ext/lizardmccabe.py

I've created a new release (1.10.2) with some other fixes.
Thank you so much for the idea.

[2016-02-02 12:38] terryyin commented on #91
I've fixed it. Will group it will some other small fixes and create a new release this week.

[2016-02-04 09:31] terryyin commented on #88
This is a bug in the implementation. I've fixed it and included it in the newest release.

Thanks!
The method `preprocess_tokens` now has a CCN of 9...

[2016-02-04 14:11] terryyin opened #92 "suport PHP"

[2016-02-04 14:12] terryyin commented on #91
OK. It's now included in the latest release.

[2016-02-10 00:20] rakhimov opened #94 "Problem in Lizard 1.10.3 installed via pip"
Lizard (installed via pip) is not reporting anything but the total line counts.
An example run can be seen [here](https://travis-ci.org/rakhimov/lizard/jobs/108168684).

[2016-02-10 03:06] terryyin opened #96 "Using lizard as a module missing some processors"

[2016-02-10 03:54] terryyin commented on #94
I created another release 1.10.4 and the problem is gone now. The scary thing is I don't understand why. There's very little difference in the code, which I don't think is the reason for the behaviour of 1.10.3. And I can only reproduce the problem of 1.10.3 on travis.

Now I suspect that it's because Lizard's ex-name Hfcca. I renamed hfcca to lizard but still keep hfcca alive and use one project

[2016-02-10 03:55] #91 closed

[2016-02-10 11:44] vicgonzalez opened #97 "negative modified cyclomatic complexity with McCabe on"
Hi, thank you for implementing the McCabe extension.
I've been testing it and I found some functions throw negative values of modified cyclomatic complexity if McCabe extension is on.
For instance next function has a modified CC of 2 but with McCabe seems to have -2:
void ccm_minus_2(void) {
switch(var){
case CTE1:
 func1();
 break;
case CTE2:
 func2();
 break;
case CTE3:
 func3();
 break;
case CT

[2016-02-10 13:18] rakhimov commented on #94
Looks [fixed](https://travis-ci.org/rakhimov/lizard/jobs/108168684) to me. Thanks for getting the problem solved fast!

[2016-02-15 09:39] mehrdad89 commented on #69
Hi @terryyin!
I think this metric will be a great addition to this awesome tool. I'm gonna do it!
Hopefully, I can finish it this weekend.

[2016-02-21 12:17] terryyin commented on #97
Hi @vicgonzalez sorry for the delayed reply, I had a long Chinese new year break.

Have you also added the -m option for modified CC? They cannot be used together.

[2016-02-21 12:17] #94 closed

[2016-02-22 15:51] vicgonzalez commented on #97
Happy new year, I'm glad that was the reason of the delay:-)
Of course you are right, how fool of me...
Anyway, it wouldn't harm to ignore the McCabe flag in that case or issue an flag incompatibility error for people like me;-)

[2016-02-26 09:20] mehrdad89 opened #98 "cyclomatic complexity (&&) bug in clike"
HI!

I am currently writing tests to find bugs in nesting depth metric which I soon commit to this project however as of now (lizard 1.10.4) there is a problem with cyclomatic complexity counting down (&&) in this unit test.

    def test_one_function_with_statement_no_curly_brackets(self):
        result = get_cpp_function_list("""
        x c() {
        if (a > -1 && b>= 0 )
              if(a

[2016-02-28 14:47] terryyin commented on #98
Hi @mehrdad89 sorry I overlook your message (the preview of the email has only "Hi!") I'm looking at it...

[2016-02-28 15:04] terryyin commented on #98
@mehrdad89 you are right, the bug is introduced when I made the solution for r_value_ref. It's now fixed with https://github.com/terryyin/lizard/commit/2a165bdd1cb1b318a15bf6b1bfdce8bcc32d70df
I will create a new release next week.

thanks for the reporting.

[2016-02-28 15:22] mehrdad89 commented on #98
thank for the reply!
Actually I just finished coding a new metric (nesting depth metric) into lizard.
At the moment, it is only supporting clike and python. Hopefully if all test are done I will be pushing it to your repository today.

[2016-02-28 15:26] terryyin commented on #98
Great! Cannot wait (but it’s bed time here).

BTW, adding tests after the implementation sounds really boring:P

[2016-02-28 15:45] mehrdad89 commented on #98
Yeap! tell me about it!

[2016-03-02 15:25] mehrdad89 opened #102 "Henry's & Kafura's Fan-In Fan-Out Complexity metric"
I was wondering if it would be interesting to add this metric as another feature for Lizard.
In short, Fan-in is the number of links coming into a node, whereas fan-out is the number of arrows going out of a node.
I'll be happy to contribute if you are also interested @terryyin?

Thanks in advance.

[2016-03-03 01:38] terryyin opened #103 "Should forever loop be counted in CCN?"
issue extracted from the discussion https://github.com/terryyin/lizard/pull/101/files#r54820920

@rakhimov @rakhimov

[2016-03-03 02:11] terryyin commented on #102
Yes, I have an ambition of implementing the Internal Relationship Diagram as recommended in @ michaelfeathers 's book (Working Effectively With Legacy Code).

Having Fan-In and Fan-Out is a good start towards that direction.

[2016-03-03 12:52] mehrdad89 commented on #102
Great!
I will look into this metric more in a detailed manner, however, I was wondering if you are fine with including an option for the relationship between classes and functions in a project scoop.
Unfortunately, this may lead to caring about headers and import in source code.
In the meantime, I will continue working on adding new support for nesting depth metric too.

[2016-03-03 13:02] terryyin commented on #102
Right, Scoping the biggest problem. So to have fan-in and fan-out is a more pragmatic first step.

I’ve moved a bit of the Nesting Depth code to ext already. Will continue to more and make the ext interface more friendly to both users and us developers.

[2016-03-03 13:40] mehrdad89 commented on #102
Great! Thanks for that.
I will continue working on both metrics and how to implement them as of today then.

[2016-03-07 05:01] iconnor commented on #92
@terryyin this would be great!

[2016-03-07 05:01] mikesive commented on #92
@terryyin seconded

[2016-03-09 08:57] tobias-klein opened #105 "Cyclomatic complexity is calculated wrongly for conjunction operators like &&"
Given a function like the following

[code]

The cyclomatic complexity should be _1_ for a function like that, but lizard calculates _2_. Basically logical conjunctions should not be part of the complexity calculation.

[2016-03-09 09:30] terryyin commented on #105
return a && b;

is effectively the same as:

    if (a)
        return a;
    else
        return b;

Therefore it's CCN should be 2. Do you have any good reason of reference for not counting it?

[2016-03-09 09:44] tobias-klein commented on #105
It's also not how other programs (like SourceMonitor) calculate cyclomatic complexity. The calculated complexity should be representing the complexity of the "control flow graph" taking into account explicit if/then/else blocks, etc. I don't think logical conjunctions are part of that. It would be good if such logical conjunctions could either be included or excluded in the calculation using an op

[2016-03-09 09:51] terryyin commented on #105
What about

    void test(bool a, bool b)
    {
          if (a && b) do_something();
    }

By McCabe's definition, it should be counted as 3.

https://en.wikipedia.org/wiki/Cyclomatic_complexity#cite_note-mccabe76-3

[2016-03-09 09:59] mehrdad89 commented on #105
@tobias-klein well, you can say that SourceMonitor is wrong in that case. CC should be counted if a loop was interpreted in a given code. @terryyin is right to do so.

[2016-03-09 10:02] tobias-klein commented on #105
Yeah, you're probably right about this. I'm just not used to this kind of calculation based on what I saw before with SourceMonitor. What are other complexity calculation tools doing? Does anybody know? Do they calculate the same result as Lizard in this case?

[2016-03-09 10:06] terryyin commented on #105
As far as I know, there’s very little dispute about &&, || being counted in CCN. More disputed issue is how to count switch/case. I’d like to count the number of “case”s, some like to count the “switch”es, some others like to count “case”s but ignore those without a break.

[2016-03-09 10:12] tobias-klein commented on #102
I'd be interested in the fan-in fan-out metrics as well! :)

[2016-03-09 10:12] tobias-klein commented on #92
@terryyin Yes, please add that! :)

[2016-03-09 10:16] mehrdad89 commented on #105
I think I agree with not counting case/switch statements in CC due to the readability of the code and how readability is a much more important factor in maintainability of a code.

[2016-03-09 10:19] mehrdad89 commented on #102
I am working on it.
hopefully, it will be finished next week.

[2016-03-09 10:24] terryyin commented on #105
Can you give me an example of switch case?

A truly trivial switch case sometimes can be transformed into a data table, in which there’s no condition at all.
If it couldn’t, they could be just as complex as many ifs. E.g. in Python there’s not switch/case, only if, elif, because they are essentially the same.

However I don’t want my “opinion” bias the tool, so I provided an option for the “modifi

[2016-03-09 10:33] tobias-klein opened #106 "FunctionInfo.long_name misses first parenthesis for Python functions"
When running lizard on python code the resulting FunctionInfo objects are missing a parenthesis for the long_name attribute.

Given the following function

[code]

lizard returns "test a , b , c )" instead of "test ( a , b , c )" for FunctionInfo.long_name.

[2016-03-09 11:10] tobias-klein opened #107 "Wrongly detected function boundary for Python function if comment in function contains an uneven amount of apostrophe characters"
Given this code:

[code]

lizard does not detect the second function and calculates the following wrong results:

[code]

Lizard seems to have problems with the apostrophe characters in the comment in the first function.

[2016-03-09 11:47] mehrdad89 commented on #105
Actually, I agree with you that is some cases switch/case statements can be used with the same purpose as `if` statements. Therefore, it is difficult to know which ones should be considered as one. But, I think experienced developers use switch/case statements when they don't have any other option (or they think it's better to do so) due to the complexity of the requirement of the code. Thus, I ag

[2016-03-09 12:12] bernd-b commented on #105
I just checked the result using the commercial software "Understand" (www.scitools.com).
This tool supports three options to calculate the cyclomatic complexity (Cyclomatic, Modified and Strict) and only when using the Strict mode the result is 2, in the two other modes it is 1.

Here's the explanation of the different modes taken from the online help:

- Cyclomatic: The average number of independ

[2016-03-09 12:26] steffenkoller commented on #105
My understanding was, that compexity is about the code and not the functionality. Therefore it is for sure possible to write the same function in different code with different complexity.

As terryyin demonstrated, there are such options. Nevertheless it is questinable to argue that it is functionally identical to write
if (a)
    return a;
else
    return b;

instead "return (a && b)""
with the c

[2016-03-09 12:48] terryyin commented on #105
@steffenkoller cyclomatic complexity is a measurement about how hard the code can be tested (McCable 1976). From testing's perspective

    if (a)
        return a;
    else
        return b;

and

    return (a && b)

are **exactly** the same.
You are right about that many people claimed that when CCN is too big human cannot easily understand it, including McCabe himself (Arthur, McCabe 1996). Th

[2016-03-10 07:48] tobias-klein commented on #105
Regarding the comment of @bernd-b and my earlier suggestion:
Wouldn't it make sense to make the more "strict" calculation an option similar to the "modified cyclomatic complexity"?

[2016-03-11 19:21] kinwahlai commented on #57
Unreachable link, cannot get to the tutorial anymore.

[2016-03-13 14:55] terryyin commented on #107
Hi @tobias-klein , thanks! really interesting bug. looking at it...

[2016-03-13 15:33] terryyin commented on #107
OK. It's fixed and a new release is created (1.10.5).

[2016-03-13 15:33] #107 closed

[2016-03-13 15:35] terryyin commented on #105
@tobias-klein yes, I will create another extension for 'none strict' CCN.

[2016-03-13 15:36] #98 closed

[2016-03-13 15:38] #88 closed

[2016-03-13 15:38] terryyin commented on #88
This is now fixed, right?

[2016-03-14 09:44] tobias-klein commented on #107
Thanks for the quick feedback! I appreciate it! :+1:

[2016-03-14 09:48] tobias-klein commented on #105
@terryyin That's cool, thanks! :+1:

[2016-03-15 02:53] terryyin commented on #57
Thanks Kinwah, let me fix it …

[2016-03-15 17:00] mehrdad89 commented on #102
@terryyin I was wondering what is your opinion on how print_fan_in_fan_out should be handled.
I just finished writing a working prototype of the fan-in fan-out function in the `lizard.py`. you can check it out in my forked repository [named](https://github.com/mehrdad89/lizard/blob/master/lizard.py)
I am open to suggestion if you are interested.

[2016-03-15 17:41] mehrdad89 commented on #102
@terryyin I just used an example from your own repository i.e `mahjong\src\html_ui\html_game.c`
this is the output:
`================================================
  NLOC    CCN   token  PARAM  length  location
------------------------------------------------
       9      2     56      2      11 start_new_player@26-36@C:\mahjong-master\src\html_ui\html_game.c
       4      1     20      2

[2016-03-16 00:23] terryyin commented on #102
@mehrdad89 "mahjong" was the example code for refactoring many years ago. Now I realise it actually hurt my reputation:-)

If you look at the current lizard_ext/lizardnd.py

    class LizardExtension(object):  # pylint: disable=R0903
        FUNCTION_CAPTION = "  ND  "
        FUNCTION_INFO_PART = "max_nesting_depth"
        AVERAGE_CAPTION = " Avg.ND "

        def __call__(self, tokens, reader,

[2016-03-16 00:52] mehrdad89 commented on #102
Thanks for the detailed explanation.
I will try to follow your code, and find a way to add them. I will also try to write some tests for both of them.

[2016-03-16 01:07] mehrdad89 commented on #102
I totally forgot to explain my approach to extract Structural fan-in fan-out. The function needs to be aware of the `fun.location` or the location of each method/function which has been processed in the repository. Can I access that information in the lizard-ext part of the lizard? or this is going to be an issue in the long run?

[2016-03-16 01:28] terryyin commented on #102
Yes, you can get the current function by reader.context.current_function.

[2016-03-16 01:51] mehrdad89 commented on #102
Yes, but i still need to be aware of the other functions to look for fan-in and fan-out which i still haven't looked at. Therefore i need all of them to start the operation

[2016-03-16 02:01] terryyin commented on #102
In that case, if you have a method name “reduce” in your extension class, it will be called at the end with the whole FileInformation structure, you can find all the functions within that file there.

    def reduce(self, file_info):
          pass
          # do the fan_in fan_out counting here

You probably all want to keep all the file_info passed to your reduce function so that the fan_in fan_

[2016-03-16 02:24] mehrdad89 commented on #102
Thanks for that.
I'll look into it tomorrow. In the meantime, i will wait for your fix on the printing issue.
keep me in touch.

[2016-03-25 10:27] terryyin commented on #92
C# has been added. I'm going to close this issue and see if anybody would create an issue for the missing of PHP.

[2016-03-25 10:37] terryyin commented on #106
@tobias-klein sorry for the long waiting. I've fix the issue with the commit https://github.com/terryyin/lizard/commit/937c87627373581f10c62de45fb67431b43ae9fd

Will create a release within a week.

[2016-03-25 10:37] #106 closed

[2016-03-26 11:16] terryyin commented on #105
I've implemented the "non strict" CCN in an extension (for the fainted hearts:-) with the commit https://github.com/terryyin/lizard/commit/2823730ab1cab2e1efc9c9292e3292a8b5b10494

I will include it in a release within two days.

To run the nonstrict mode

    lizard -Enonstrict

I will still need to make all the extensions more visible to the users.

I'm going to close this issue. If you guys wan

[2016-03-26 11:16] #105 closed

[2016-03-28 23:53] mikesive commented on #92
Hey @terryyin I am really keen for PHP support as PHPMD is very slow. Is it possible to do PHP as well? I had hoped the bounty on bountysource applied to both PHP and C#.

[2016-03-29 06:23] tobias-klein commented on #106
Thank you! :+1:

What do you exactly mean when you say "release"? I don't see anything at https://github.com/terryyin/lizard/tags

[2016-03-29 13:02] terryyin commented on #106
@tobias-klein I put lizard on Pypi. So that you can install lizard by

    pip install lizard

Then you can use it everywhere in the system. By "release" I mean to publish a new version in PyPi. BTW, I haven't yet this week.

[2016-03-29 14:08] terryyin commented on #92
OK, I've reopened the issue and change the title.

@mikesive I'm going to give PHP a try, but can not be very sure this time. Because PHP can be also inline in HTML. All the other languages are tokenised as the fist step. But I guess with PHP probably some other preprocessing need to be done before tokenising.

we'll see:-)

[2016-03-30 06:12] tobias-klein commented on #106
Ok - cool! Maybe you can add a note in the Readme (under Installation?) stating that releases are regularly published to the PyPi repository.

[2016-03-30 21:58] mikesive commented on #92
Thanks @terryyin look forward to seeing how you go.

[2016-04-02 07:01] terryyin commented on #92
@mikesive , I've added PHP and created a new release in PyPI (1.12.0).
It will be great if you can help to verify it.
If you want to run lizard for PHP only, do

    lizard -lphp

I will improve the PHP support to add things like "namespace" (class names). But I think the basic function is there already now.

The commits did the job are:
https://github.com/terryyin/lizard/commit/69336258c2f1cf4c35

[2016-04-03 00:10] iconnor opened #111 "support for elixir"
http://elixir-lang.org/

[2016-04-03 00:32] terryyin commented on #111
Oh, right. I'm interested in Elixir! I signed up for an Elixir meet up last week but didn't make it. Let me try it next week!

[2016-04-04 05:17] mikesive commented on #92
@terryyin looks good! I had a quick run through today, very fast compared to other PHP tools. I will test more thoroughly tomorrow. Thanks for getting this done!

[2016-04-12 01:11] iconnor commented on #92
This works for us! I think you can close it now @terryyin

[2016-04-12 01:13] iconnor commented on #111
[Credo](https://github.com/rrrene/credo) does complexity also so not a high priority. Plus we found not a lot of complexity can be found in Elixir projects - people do a pretty good job in that world!

[2016-04-12 01:17] terryyin commented on #111
Oh, I want to be in that world!

Sent from my iPhone

[2016-04-12 01:44] terryyin commented on #92
Great!

[2016-04-12 01:44] #92 closed

[2016-04-14 05:43] rakhimov opened #113 "C++ Function Try-Catch"
Function try-catch blocks can be used to convert exceptions of one library to another.
It is always possible to put the try-catch blocks inside of the functions,
but the intention is not as clear and the code gets extra nesting/indentation.

[code]

The Llizard processes the `catch` blocks as functions.
I guess as K&R C functions with implicit int return.

The use of function try-catch is uncommon

[2016-04-16 02:00] terryyin commented on #113
Hi @rakhimov ,
Sorry for getting back so late. Quite busy week.

Ah, I didn't know function-try-catch before! So now I think catch is regarded as a function by itself. I will fix it during this weekend.
terry

[2016-04-16 10:03] rakhimov commented on #113
Hi @terryyin ,
There's no need to hurry with this uncommon case, I think.

I am wondering if it would be wise to split C and C++ modes
to avoid C idiosyncrasies. After all, there's no such language as C/C++.
The header files (ending with ``.h``) can be parsed as C++ by default,
backtrack and try to parse as C if there's ambiguity or failure.
Lizard is already blazingly fast,
and specializing for C

[2016-04-19 14:02] terryyin commented on #113
Performance-wise it won't make much sense at the moment. Lizard parses code using state-machine, so all the complexity won't be involved if the state-machine never goes to that state (and every token need to be evaluated any way).

But I'm thinking about using parallel state-machines to simplify the code so more features can be added. Then some state-machines might not be needed for C... I will ke

[2016-04-23 02:52] bzquan opened #115 "Support utf-8 with BOM"
It seems that Lizard could not read source files in utf-8 with BOM.
Would you please support files in utf-8 with BOM?

P.S.
Utf-8 without BOM looks ok.

[2016-04-24 01:31] terryyin commented on #115
@bzquan yes, I'm working on it. Thanks for reporting.

[2016-04-24 03:46] terryyin commented on #115
OK. The problem has been fixed. I will include it in a Pypi release in 24 hours.

I believe a big can of worms has just been opened.
It turned out that detecting codecs for text file isn't that easy and there's no perfect way of doing it.
There's a lib (chardet) can do it approximately. So far Lizard doesn't depend on any other Python library. I know it won't be like this for ever, but I don't fee

[2016-04-24 03:51] terryyin commented on #103
Hey I read through the classic definition of CCN again and I find that forever loop shouldn't be counted.

I will fix this.

[2016-04-24 05:57] bzquan commented on #115
Thank you very much. It works.

[2016-04-24 06:10] bzquan commented on #115
It works for utf-8 with BOM, but it does not work for utf-8 without BOM now.
Windows uses utf-8 with BOM, but Linux uses utf-8 without BOM. I am afraid Lnux users may complain from now on.

[2016-04-24 07:20] terryyin commented on #115
Oops, @bzquan you are right. The problem is now fixed.

[2016-04-24 08:19] bzquan commented on #115
Thanks a lot.

[2016-04-24 12:25] #115 closed

[2016-04-26 05:37] bzquan commented on #115
It still could not manage utf-8 without BOM.
Followings are error messges.
Traceback (most recent call last):
  File "C:\Work\BDDTools\QTestRunner\lizard\lizard.py", line 870, in <module>
    lizard_main(sys.argv)
  File "C:\Work\BDDTools\QTestRunner\lizard\lizard.py", line 864, in lizard_main
    warning_count = printer(result, options, OutputScheme(options.extensions))
  File "C:\Work\BDDTools\Q

[2016-04-26 05:40] bzquan opened #116 "Reopen for support utf-8 with BOM #115"
It still could not manage utf-8 without BOM.

I had followings error messges for utf-08 cpp file WITHOUT BOM.
 Traceback (most recent call last):
 File "C:\Work\BDDTools\QTestRunner\lizard\lizard.py", line 870, in
 lizard_main(sys.argv)
 File "C:\Work\BDDTools\QTestRunner\lizard\lizard.py", line 864, in lizard_main
 warning_count = printer(result, options, OutputScheme(options.extensions))
 File "

[2016-04-26 05:41] terryyin commented on #116
Oops, see. I will look at it tonight my time.

[2016-04-27 08:21] KenLau commented on #102
Hihi, i found that there are some problems with the fan in and fan out in Objective C and Swift,
=====================================================================
  NLOC    CCN   token  PARAM  length   fan_in    fan_out   location
---------------------------------------------------------------------
       9      2     37      0      10         0          0 sharedInstance@21-30
      10      3

[2016-04-27 09:07] erizhang opened #117 "Invalid url link in Readme"
Hi, Terry, there is invalid url link in the readme, could you please check it, or remove the link: http://thrashing.io/tutorial/551891bccfead697722b05ad

[2016-04-27 09:31] mehrdad89 commented on #102
Thank you for your input.
At this point, fan-in fan-out is implemented at a local scope, therefore, they have to be explicitly called in order to be counted.
Of course, there will be more update coming to fix some of these issues.

[2016-04-27 09:39] terryyin commented on #102
Let’s focus on getting it to work with C first. Swift and ObjC are very similar to C.

[2016-04-27 11:13] mehrdad89 commented on #102
Of course, that is the primary focus.

[2016-04-27 11:28] KenLau commented on #102
Alright, thanks for your replies, :D

[2016-05-01 03:07] terryyin commented on #116
Hi @bzquan,
I cannot reproduce the problem. Could you please share a file without BOM with me?

[2016-05-01 04:37] bzquan commented on #116
Please check the attachment. Please change the extension to cpp.
[NotificationTrace.txt](https://github.com/terryyin/lizard/files/243957/NotificationTrace.txt)

[2016-05-01 10:11] terryyin commented on #116
I still cannot reproduce it. But from the traceback you provided it should be an encoding problem as you said. Now I made a dirty patch to make it at least not crash in this situation. I don't plan to keep this dirty patch for very long.

Could you please zip the file and send it to me again?

[2016-05-01 10:12] terryyin commented on #117
link removed as your wish. Thanks.

[2016-05-01 10:12] #117 closed

[2016-05-01 11:02] bzquan commented on #116
Please find the attachment.

[UTF8-no-BOM.zip](https://github.com/terryyin/lizard/files/244071/UTF8-no-BOM.zip)

[2016-05-03 15:35] tobias-klein commented on #102
@mehrdad89 Is the fan-in / fan-out going to be calculated both on a function and on a module/file level?

[2016-05-04 07:59] rakhimov opened #118 "C++ 11 Initializer List is confused for a function"
In global state,
variables initialized with an initializer list get confused for functions.

Example cases:

[code]

[2016-05-05 12:21] terryyin commented on #102
@mehrdad89 I'm at Shanghai for a few days and will try this feature again with my friend @erizhang . Do you want a short video chat tomorrow morning your time?

[2016-05-05 12:36] mehrdad89 commented on #102
Sure, let's do that!

[2016-05-05 12:38] mehrdad89 commented on #102
@tobias-klein we are trying to add these feature. but, at the moment, it is working at a function level.

[2016-05-06 09:01] terryyin commented on #102
Sorry, we are both in a conference and might be a bit late (6pm).
Sent from my iPhone

[2016-05-09 01:13] #69 closed

[2016-05-10 10:40] tobias-klein commented on #70
@terryyin Has there been any work on this since last October? I think this would be a very useful enhancement.

[2016-05-10 12:43] terryyin commented on #70
Hi @tobias-klein thanks for getting back to this. The last Oct 17 commit already does most of the namespace work https://github.com/terryyin/lizard/commit/eb95a74ae2ac02763a7f4f6736f34225cbca69a6 .

And now it is like @rakhimov said that the inner structure or lambda add complexity to the outermost function.

But if you are referring to the javascript nesting, there hasn't been any progress yet. S

[2016-05-10 20:13] rakhimov commented on #70
I feel sorry for C++ compiler designers.
Working on 'nesting_level' and 'nested_structures' metrics,
I have been discovering horror-inducing constructs that is possible in C++.
These constructs relate to this issue as well.
Consider this example:

[code]

That's unnamed struct that can have arbitrary complexity
in addition of being inside for-loop declaration.
I bet McCabe couldn't have imagined t

[2016-05-11 08:42] terryyin commented on #70
@rakhimov thanks for demoing the complex C++ code. If everybody is happy with the current status I will close this issue.

[2016-05-11 20:59] rakhimov commented on #70
Hi @terryyin ,
can you document the current approach? (In ``theory.rst`` maybe.)
I am not sure if the additive approach has already been implemented.
I am in favor of ignoring nested structs and classes only inside functions for now
until someone comes up with something smarter.

[2016-05-12 05:47] terryyin commented on #70
Some theory added.

[2016-05-12 05:47] #70 closed

[2016-05-12 14:36] terryyin commented on #102
guys, let me present you the new fan-in and fan-out implementation

    lizard -Eio

It calculates only fan-in/fan-out for known functions within all the code being analysed. At this moment I ignored the namespaces. Function gets all the fan-in until another function with duplicated name appears in the process.

It will be great of you can try this out and give me some feedback:-)

[2016-05-12 15:32] tobias-klein commented on #70
Thanks @terryyin
I was just wondering, why this was still open...

[2016-05-14 07:27] tobias-klein commented on #102
Thanks for doing this, @terryyin
Will try it out next week. Have you thought about adding a file/module dimension to the measurement? fan-in/fan-out on the file/module level would be very interesting I think.

[2016-05-14 09:23] rakhimov commented on #102
Hello folks,
I don't have much deep understanding of this metric,
but I get that this metric relates more to the software as a whole (coupling/cohesion).
Just running couple of checks for this metric with C++ code,
I came to the following conclusion.

In order to be aware of what functions are being called (for Fan-In metric, I guess),
the Lizard must be aware of such pretty nasty language complex

[2016-05-15 13:04] terryyin commented on #102
@rakhimov I think you have very good point about the difficulty of getting Fan-in/Out.
I'm looking for a cost-efficient way of approximating the actual fan-in/out and is also useful.

@mehrdad89 and I also came up with an idea of "general fan-out", which counts anything in a function that "looks like a fan-out."

I'm not sure if the current way of doing the metrics is any useful. But there are man

[2016-05-15 13:06] terryyin commented on #102
@tobias-klein yes, I think file level fan-in/out is useful. Let me stabilise/improve the current metrics first.

[2016-05-15 20:10] mehrdad89 commented on #102
@terryyin I am open to suggestion terry so we would be on the same track on this matter. Of course, you can email me or skype me.

[2016-05-19 15:55] tobias-klein opened #125 "Python class member functions are not qualified with their corresponding class name"
Python functions that are members of a class are not qualified with their corresponding class name. The qualification is done in case of C++ functions and should also be done for Python functions.

[2016-05-22 13:33] rakhimov opened #126 "C++ Boost and Qt awareness"
Boost and Qt projects provide handy constructs
like`foreach`, `forever`, `Q_FOREACH`, `BOOST_FOREACH`,
which influence the complexity metrics.
C++11 reduces the need for this kind of macros,
but there are still projects relying on these constructs (Qt especially).

I am opening this issue just to see if there's any interest by the community
in getting Lizard aware of these constructs.

[2016-05-22 13:42] rakhimov commented on #113
Another obscure use for ``try-catch``
where ``try`` can be put to scopes:
[code]

[2016-05-22 13:46] terryyin commented on #126
After carefully studied the theory (McCabe's), I found forever shouldn't be counted (this is still an open issue to lizard).
@rakhimov what's your opinion on all sort of foreach loops? What about in other languages?

I think the CCN is mostly about how hard it is to test the function. I guess the question is equal to: would you write one additional test case for testing the foreach collection oper

[2016-05-22 13:47] terryyin commented on #125
Yeah, I noticed this too. Will fix this with priority (but still i'm quite busy with other project(.

[2016-05-22 13:48] rakhimov commented on #126
What if the collection is empty.

[2016-05-22 13:50] rakhimov commented on #126
This macros bothered me upon working on the nested-structures metric.

[2016-05-22 13:52] terryyin commented on #126
Exactly, the good old strategy for testing a collection is "0-1-N".

Only for the situation where they don't have a bracket following them, right?

[2016-05-22 13:53] rakhimov commented on #125
Should there be Pythonic separator dot '.' or keep it C++ style double colon?

[2016-05-22 13:55] terryyin commented on #125
Good question. I will see if I can make the connectors right.

[2016-05-22 13:57] rakhimov commented on #126
The brackets are irrelevant for the nested structures code
if it doesn't recognize that the previous token is a structure signifier.

Lookin at ``oclint``,
I noticed that the metric you probably thinking about is ``statement nesting depth``.
I tjhink this metric also has its merits,
but ``nested structures`` is about control flow structures.

[2016-05-22 14:02] terryyin commented on #126
Ok. Now I see the difference.
But can you give me an example of a statement nesting structure that is neither started by an empty bracket, nor started by a control flow instruction?

[2016-05-22 14:07] rakhimov commented on #126
I am a bit confused with the question.
I think you meant *statement nesting depth*.
Well, I can think of evil templates.

[2016-05-22 14:27] rakhimov commented on #126
Actually, I take back the template example.
That is an expression not a statement within angle brackets.

[2016-05-22 14:54] rakhimov commented on #126
I think I got the question.
Correct me if I am wrong.
Give examples of structures defined with non-compound, single statements.
I can only think of the control flow structures,
so the answer to your question to my knowledge is "no".

[2016-05-23 01:58] terryyin commented on #126
Would that lead to a different solution for control flow identification?

[2016-05-23 02:39] rakhimov commented on #126
I am not sure what you mean.

[2016-05-23 02:42] terryyin commented on #126
I mean is it possible to identify control flow structure by looking for non-bare brackets?

[2016-05-23 02:54] rakhimov commented on #126
I don't know where you are getting,
but there is nothing special with control-flow structure signatures
that differentiate them from other statements:

[code]
Without knowing the tokens,
you can't identify the control-flow structures.
The brackets are irrelevant,
they are part of the compound statement.

[2016-05-23 13:54] tobias-klein commented on #125
@rakhimov: I think it would make most sense to display it in the language-specific style. So I would vote for the "pythonic" separator dot '.'

[2016-05-31 09:45] mehrdad89 commented on #102
@terryyin I am still interested on how you think we should approach improving the fan-out by counting the unfamiliar commands (meaning functions, struct, and etc.). Unfortunately, I think the problem is that these operators are language specific. However, it is the right step in that direction. What do you think?

[2016-05-31 09:52] terryyin commented on #102
Let’s step backward a bit. What’s the purpose of the fan-out?

[2016-05-31 10:00] mehrdad89 commented on #102
From what I understood, it means: calculating the number of file or procedure that are called by this file or procedure on a file or procedure level

[2016-06-01 06:23] terryyin commented on #116
Still cannot reproduce the problem. But I pacified the error when generating XML file.

[2016-06-05 15:55] mehrdad89 opened #129 "lizardio fails to work simultaneously with other extensions"
Hi!

I am trying to run lizardio extensions (fan-in and fan-out) with other extensions, however, it is failing to calculate the fan-in and fan-out in the following example:

[code]
the output:
[code]

It seems that lizardio cannot be activated with the help of `get_extensions` while other extensions are working correctly. Is there any alternative to run the lizardio with other via `analyze_source_

[2016-06-07 04:22] #118 closed

[2016-06-07 04:23] rakhimov commented on #118
Fixed with e243eb82

[2016-06-07 11:36] mehrdad89 commented on #129
I fixed the issue by calling the reduce method inside the `lizard_ext.lizardio` module
Anyway, I will close this issue now.

[2016-06-07 11:36] #129 closed

[2016-06-07 15:00] mehrdad89 opened #130 "Attribute error in reduce function (lizard_ext.lizardio module)"
I run lizardio module and faced this issue regarding calculating the fan_in and fan_out metrics:

`File "/home/emehmeh/venv/lib/python2.7/site-packages/lizard_ext/lizardio.py", line 32, in reduce    `
`    new_funcs = {f.unqualified_name: f for f in fileinfo.function_list}  `
`AttributeError: 'NoneType' object has no attribute 'function_list'    `

[2016-06-07 15:39] jacepatel opened #131 "PHP fails to recognise files properly"
An open source repo with a lot of design patterns below provided for example

when I run lizard, it reads the files but sees no cyclomatic complexity. I insert further conditions into it and it produces no difference in the CC.

Any suggestions or pointers on where to fix this?

https://github.com/domnikl/DesignPatternsPHP

[2016-06-08 01:52] terryyin commented on #130
I will look at it.

[2016-06-08 02:27] terryyin commented on #130
Can you check again now?

[2016-06-08 03:19] terryyin commented on #131
@jacepatel thanks for reporting the bug! I never knew that you can ignore the "?>" in PHP. It's now fixed.

BTW, thanks for the example code. It's really amazingly good.

[2016-06-08 08:48] mehrdad89 commented on #130
I checked it again with `lizard version 1.12.4`, still the same problem.
I think you could add a simple check or catch the exception because you're attempting to access an attribute of a variable that is equal to `None` (in my case that is).

[2016-06-08 13:01] mehrdad89 commented on #130
@terryyin I will try to write a solution for it (with general fan out included) and make a pull request to you to review it.

[2016-06-09 12:33] mehrdad89 commented on #130
@terryyin This issue has been referred to on the pull request #133. Therefore, I will close this issue, so we can discuss the optimum way to address this particular problem.

[2016-06-09 12:34] #130 closed

[2016-06-23 17:54] Hirse opened #134 "[C++] Doesn't detect functions with struct parameters"
While running this tool on some MySQL code, I found that the following function was not detected in the output:
[code]

Only after removing the `struct`-keyword for testing, it was picked up and shown in the result.

[2016-06-24 14:17] #134 closed

[2016-06-24 14:22] terryyin commented on #134
@Hirse thanks for the issue. It's fixed by https://github.com/terryyin/lizard/commit/524fc21bdeb547c08bc19471041ca9842533af80 now. I also created a new Pypi release. The bug is brought by a refactoring not too long ago.

I didn't close the issue manually myself. Surprisingly, when I commit my code with a comment "fix #133", the issue is closed automatically. So please still confirm the fix if you

[2016-06-24 14:23] #131 closed

[2016-06-24 14:24] terryyin commented on #116
I believe the problem is now properly handled for BOM at least. So I'll close this issue.

[2016-06-24 14:24] #116 closed

[2016-06-24 15:26] Hirse commented on #134
Thanks, for this quick reaction. :smile:
I will let you know when I am able to confirm it.

[2016-06-24 15:28] Hirse commented on #134
fyi :wink:
https://help.github.com/articles/closing-issues-via-commit-messages/

[2016-06-25 01:19] terryyin commented on #134
OK, I thought closing issues without first trying to agree with the issue creator is a bit rude. Now it seems a common practice:-)

[2016-06-26 09:00] serjant opened #136 "The ObjC unittest failes"
So actually it adds addition parameter pointer to the long_name result, here is the output:
## `FAIL: test_one_objc_functio_nwith_two_param (test.test_languages.testObjC.Test_objc_lizard)

Traceback (most recent call last):
  File "test/test_languages/testObjC.py", line 34, in test_one_objc_functio_nwith_two_param
    self.assertEqual("scanJSONObject:( id \* ) error:( NSError *\* )", result[0].lon

[2016-06-27 02:03] terryyin commented on #136
@serjant what just have happened here?

[2016-06-27 06:42] serjant commented on #136
I thought that the problem was in my fork, thus i closed the bug, but It turns out that that the long_name gets the wrong value in your fork too, i added unittest method which does not pass at all - wrong long_name value and wrong parameters extraction

[2016-06-27 06:43] serjant commented on #136
I will commit soon to my fork - you will see

[2016-07-18 21:35] Hirse opened #137 "#if and #else directives stop analysis"
When you have code with `#if` and `#else` directives (that make the syntax incomplete) any following functions will not be found.

In this simplified example `a` and `b` are found, `c` and `d` (and any potentially following) are not:
[code]

Found when running lizard on [httpd's util.c](https://github.com/apache/httpd/blob/64aca96b7f6a7a3d0fd40acf7fbabe69eed2de48/server/util.c).

[2016-07-19 00:32] terryyin commented on #137
You can use option -Ecpre to solve this problem. The `cpre` extension will ignore the code in the #else block.

I plan to put this information in the github wiki. Can I use your example code?

[2016-07-19 08:53] Hirse commented on #137
Thanks for the quick reply.

Of course, you can use the example code.

[2016-07-20 03:27] terryyin opened #138 "Fractal Dimension"
I learned the general idea of fractal dimension from this talk:
https://www.youtube.com/watch?v=bSfe5M_zG2s

I think it's a cool idea for software complexity so I want to implement it in Lizard. But lack of idea on how to it. So your ideas are welcome! :-)

Here are some of my ideas and thinking:

[idea1]
The speaker of the talk gave an example of applying FD on stack trace, which makes a lot of s

[2016-07-20 06:14] penguish commented on #138
Hi,
can you access this paper, which looks relevant....?

http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.226.386&rep=rep1&type=pdf

cheers

shaun

Shaun Roe
shaun.roe@cern.ch<mailto:shaun.roe@cern.ch>
AIM, iChat: shuanroe
Skype: shaunroe
微信:ShaunRoe

On 20 Jul 2016, at 05:27, Terry Yin <notifications@github.com<mailto:notifications@github.com>> wrote:

I learned the general idea of fract

[2016-07-20 07:39] terryyin commented on #138
Shaun,

Thanks for the paper, I can access it. It’s very important input.

I thought about the OO network idea too. But Lizard lacks of the ability of identifying the dependency now (I’m working on it). From the very beginning of Lizard, I decided it will ignore the header files and imports. So Lizard doesn’t know which method call is from where.

I’m not surprised that in the paper most of the st

[2016-07-20 07:50] penguish commented on #138
Hi,
good. BTW, I have been looking at the collection of metric called 'CK' metrics:
http://www.aivosto.com/project/help/pm-oo-ck.html

but in particular it seems that the most important ones are NOC , RFC (Number Of Children, Response For Class)
http://www.lnse.org/vol4/222-SE020.pdf

an overall survey appears here:
http://www.squale.org/quality-models-site/research-deliverables/WP1.1_Software-met

[2016-07-20 07:56] terryyin commented on #138
thanks for the more inputs. I’m proud of what you did with Lizard:-)

Yeah, most of these OO analysing methods are pointing to one direction: the tool understands the OO structure. It’s a realistic goal for Java and C++ (without too much macro).

[2016-07-26 22:13] danikaZ commented on #137
How are options such as "-Ecpre" specified in python?
For example, in lizard.analyze_file("../cpputest/tests/AllTests.cpp")

[2016-07-28 08:16] terryyin commented on #137
@danikaZ there isn't a specific interface yet. You can do this:

[code]

[2016-07-29 22:08] JiahangLi opened #139 "use local version python compiled lizard.py but did not generate lizard"
On my Linux account, I tried to installed newer version of python in order to run lizard due to I don't have the root access and root's version is too old to compile.

It seems lizard executable seemed not generated after the script ran successfully.

[2016-07-30 00:38] terryyin commented on #139
Lizard requires Python 2.7 or Python 3.x. You can install lizard to your system via `pip install lizard` (need root access if you are not using a Python virtual env).

Or you can download/clone the source code and just run python lizard.py in the folder.

If you run `python setup.py install`, then the “executable” will be put to the global python script path. Just try `lizard` in your command line

[2016-08-01 04:48] rakhimov opened #141 "BUG: Python expression structures and nesting level of tokens/structures"
Python reutilizes keywords for  list comprehension (`for`, `if`) and ternary operator (`if`, `else`).
the current implementation of the nesting structure count, which depends on the nesting level of tokens,
does not differentiate between expressions or statements for these keywords
and keeps counting the nesting level.

Examples:

[code]

These examples will produce NS = 2 and 1, respectively, ins

[2016-08-01 05:01] rakhimov commented on #29
This can get tricky with trailing return type and automatic return type deduction of C++11/14.

[code]

Why is it important to include the return type with the name of the function?
Is this only relevant to reporting?
Would it then be suggested to include the full function signature as well ``return_type name (args)``?

[2016-08-01 22:27] JiahangLi commented on #139
Hey Terry,
Thanks for your feedback. The third solution fixed my problem in this case!

I'm working on integrate lizard with Jenkins right now. Is there a version requirement for Jenkins in order for it to display the lizard output plot? Or specific plug-ins to plot the graph, i.e JUnit or XUnit?

Due to the limited internet connection and old version of java, I'm using Jenkins1.5. Tried to use th

[2016-08-02 08:13] terryyin commented on #139
Have you added the -X option to output the xml?

[2016-08-02 08:15] terryyin commented on #29
No, so far return type is not really needed in any scenario yet.

So there's still little motivation to implement it...

[2016-08-02 16:11] JiahangLi commented on #139
Yes. I did and I got the xml file. However, it seems that Jenkins can not interrupt the file correctly.
I opened the xml file by using excel and other viewer, but the display is a bit different from what I thought it would be.

I might be wrong, but for my personal understanding, if I open the xml using excel the display would look like the table display on our online analyzer, right?

![capture](

[2016-08-02 23:42] JiahangLi commented on #29
One follow up on this discussion, since I was using the other tool to measure CCN before and it gave me the different number of CCN due to the return statement from my assumption.
Here is an example:
int main (){
	int a ,b ;
	a = 26;
	b =10;
	if (a > 10 ||b < 45 && (a+b)< 55){
		return 1;
	}
	return 2;
}
I might be wrong, but here is my observation and thoughts.
The other tool give me CCN =5, but

[2016-08-03 07:08] terryyin commented on #139
I think the xml format is compatible with the CppNcss output. There's a jenkins plugin for CppNcss and it knows how to render the xml.

[2016-08-03 07:42] terryyin commented on #29
@JiahangLi you are right.

I know some tools e.g. Sonar does count the return also for CCN, in which I strongly disagree. The underlying reason is best explained here: http://programmers.stackexchange.com/questions/118703/where-did-the-notion-of-one-return-only-come-from/118793#118793

In a modern programming language a method always start from a single entry, which is the beginning of the method.

[2016-08-03 08:46] rakhimov commented on #29
@terryyin Nice research on CCN.

[code]
[code]
These functions have the same control flow. (returns to the same place)
It is interesting to consider long jumps and exceptions.
Can they be considered as multiple returns?

[2016-08-03 13:54] rakhimov opened #143 "Bug: C++11 ref qualified functions"
Lizard misses C++11 ref qualified member functions.
These functions don't appear in the report or the result database.

[code]

[2016-08-04 22:39] JiahangLi commented on #139
Thank you for all your help.

[2016-08-04 22:39] #139 closed

[2016-08-05 19:08] JiahangLi commented on #90
Agreed.  The summary of data, i.e. Function Avg CCN, Fun Avg NLOC, would be super helpful.
The sum of each metrics won't be as helpful as a function based metrics: [http://www.drdobbs.com/architecture-and-design/measuring-complexity-correctly/240007928]

I can do a easy math by using total CCN/ total # func = Avg CCN per func, but it seems easier for the rest of team just to see it directly.

Than

[2016-08-17 03:40] rakhimov commented on #89
The title of this issue is misleading.

[2016-09-05 14:43] #143 closed

[2016-09-13 00:45] rakhimov opened #152 "Ignoring compile-time const expressions: C++ non-type template arguments"
C++ can have expressions evaluated at compilation time. These expressions are not part of the control flow of the function at run-time. Consider the following somewhat contrived example:

[code]

The code is evaluated at compile time, so you may have several versions of `foo` depending on your constant expressions, but none of them will have `and` expression evaluated at runtime. The CCN of all th

[2016-09-25 16:43] rakhimov opened #154 "Drop implementation for Nested Structure for Python (pylint does it better)"
I recently discovered that ``pylint`` has ``max-nested-blocks`` parameter,
and it gets things right. (no issue with #141).
I don't see any point in reinventing the wheel and wasting effort on this feature in Lizard.
Let's drop the NS metric for Python.
This is going to close #141 and #142.

Code-wise, there's nothing needs to change (maybe some warnings, like "Hey, use pylint for that!").
In the r

[2016-10-07 21:26] rakhimov commented on #102
I discovered another metric called 'Cumulative Component Dependency' (CCD/average/normalized)
invented by John Lakos in his book "Large Scale C++ Software Design".
Honestly, as a developer or designer, I do not see much value in and can't internalize the 'fan-in/fan-out'.
On the other hand, CCD is higher level metric than 'fan-in/fan-out', but it's somewhat orthogonal to the 'fan-in/fan-out'. It d

[2016-10-14 10:33] mehrdad89 opened #157 "a non-structural failure case in NS metric"
Hi,

I am currently running NS metric on my repository and faced a bug return statement.
The following unit test clarifies my claim:

[code]

commit: 23ec9e8e0091bf24a13d30b72fbe4df5b77b971a

Looking forward to hearing from you regarding this issue.

[2016-10-14 21:40] rakhimov commented on #157
@mehrdad89 The problem seems to be general. It fails even if there's 'any statement' instead of the 'return statement'.

[2016-10-14 22:05] mehrdad89 commented on #157
@rakhimov I kinda was hoping this is happening due to a minor case. I guess I should change the title of this issue too.

[2016-10-14 22:09] rakhimov commented on #157
@mehrdad89 That would be great.

[2016-10-15 06:34] rakhimov commented on #157
@mehrdad89 @terryyin I will be working on this bug over the weekend. The problem is that braceless control structures have the same ``nesting_level`` metric. It seems 'nesting_level' metric for tokens is unnecessarily complicated or even probably a wrong approach with my implementation. This looks to be one of those times when I look on my own months-old code and wonder: "WTF?" :-)

[2016-10-15 13:07] milo-hyben opened #158 "Javascript ECMAScript6 not supported."
Any plans to support ES6? Especially arrow functions and new class definitions.

[2016-10-15 22:19] rakhimov commented on #157
Hmm, the nesting structure determination extension is running before the assignment of the ``nestring_level`` to tokens. I thought it was the other way around.

[2016-10-19 03:19] rakhimov opened #162 "Ambiguous Licenses"
The root license seems to be MIT and mentions `jquery`?
The lizard.py states that the license is Apache.
GitHub isn't discovering the project license kind automatically.

[2016-11-04 09:53] itavero opened #164 "Change output format (for Visual Studio, among others)"
The current output format when running `lizard -C 15 -w somefile.c someotherfile.c` can be automatically parsed by IDEs such as Eclipse.
Unfortunately, Visual Studio is having issues with this output format.
It will allow you to click on the file in the Output window to jump to the file, but the line number is not taken into accounting.

The format for Visual Studio is described on MSDN: https://m

[2016-11-04 16:27] rakhimov commented on #164
I think the title needs to be clarified to address only 'warning format'
because the default output is the summary.

[2016-11-04 16:32] rakhimov commented on #164
[cpplint](https://github.com/theandrewdavis/cpplint) supports 'emacs|eclipse|vs7|junit' warning format. The code and tests are open for reference and borrowing if anyone wants to implement these formats.

[2016-11-06 09:53] terryyin commented on #164
It seems the only difference is the parenthesis "()"?

That should be easy to do.

[2016-11-22 15:08] rakhimov opened #166 "Logging for errors/failures"
Lizard allows soft failures as we discussed in the limitations documentation.
It would be helpful to allow logging for those errors.
Implementation-wise, it's simple use of thread-safe python 'logging' library with various message levels.

[2016-12-09 09:25] steronydh opened #168 ""Failed to create process" error running lizard"
I'm getting this when trying to run a pip-installed lizard 1.12.7 no Windows 10. No other error message. I get this even with just 'lizard -h'.

[2016-12-09 21:15] rakhimov commented on #168
Looks like system issues:
http://stackoverflow.com/questions/17373265/pip-easy-install-failure-failed-to-create-process

[2016-12-28 18:25] rakhimov opened #170 "Separate the website from the source"
The main branch does not need to be cluttered with the website files.
These website files could go to the 'gh-pages' branch.

[2016-12-28 18:30] rakhimov opened #171 "Comment and empty line count"
I got the idea from Open HUB.
The metric displays the ratio of 'comment' / (total - empty).
The metric hints on how well the code is documented.
It turns out 22% is the average for C/C++ projects,
and 25% is for Python projects.

[2016-12-30 13:39] rakhimov opened #173 "Bug: Python interval comparison CCN"
The interval comparisons, e.g., `a < b < c`, are given CCN = 1
instead of CCN=2.
The expression is equivalent to `a < b and b < c`.

Example code (from Lizard itself :-)):
[code]

[2017-01-02 01:40] #157 closed

[2017-01-02 01:45] terryyin commented on #154
Sorry for the late response. Travelling with family and w/o good network connection.

[2017-01-02 02:05] terryyin commented on #170
True.

[2017-01-05 08:49] steronydh commented on #168
I've updated to Python 3.6 and reinstalled lizard and it seems fine now.

[2017-01-05 08:49] #168 closed

[2017-02-10 01:10] robutcher opened #176 "Bug: App never stop when call by groovy or jenkins pipeline shell"
1.call by jenkins pipeline shell like below:
sh returnStatus: true, script: "lizard -f ${CHG_FILE} -W ${WHT_LIST} -l c -l cpp -t 15 > ${ANA_NEW}"
some times liazard runs continuously, never stop;

2.call by groovy shell like below:
def command = ‘’‘lizard -f chg.txt -W wht.txt -l c -l cpp -t 15 > rst.txt’‘’
def proc = command.execute()
proc.waitFor()   // Wait for the command to finish
.waitFor()

[2017-02-10 01:13] terryyin commented on #176
Hi robutcher,

Thanks for reporting. I will look at it soon. For the purpose of debugging, can you remove the “-t 15” parameter and try again?

Terry

[2017-02-10 01:18] robutcher commented on #176
I have tried, with or without the “-t 15” parameter makes no difference.

[2017-02-10 01:30] terryyin commented on #176
Hi Robutcher,

OK. I will need to see which .c file caused the problem. Is it possible that you manually locate which file caused the problem by removing half of the content in “chg.txt” each time?

I will need that source code to investigate. If it’s not sensitive you can also send me all the code.

Br, Terry

[2017-02-10 02:39] robutcher commented on #176
I have tried several times, it seem unrelated to some particular files;
1)call by groovy liazard always runs continuously, never stop; **every times**, can you make a try?
2)call by jenkins pipeline **sometimes** liazard runs continuously, seem unrelated to some particular files, just **sometimes**.

[2017-02-10 02:47] rakhimov commented on #176
Have you tried on command-line?

On Thu, Feb 9, 2017 at 6:39 PM, robutcher <notifications@github.com> wrote:

[2017-02-10 02:50] robutcher commented on #176
I have tried on command-line, it runs ok.

[2017-02-10 02:56] rakhimov commented on #176
So, the question is "What is different between cmd-line and Groovy call?".
Environment?
Any gotchas?
Any Groovy warts to be aware of?

Lizard is probably agnostic how it is being called via the cmd-line entry.

On Thu, Feb 9, 2017 at 6:50 PM, robutcher <notifications@github.com> wrote:

[2017-02-10 02:58] terryyin commented on #176
My understanding is with groovy, even removing “-t 15” won’t work. That means it’s not likely to be because of the threading.

Can you capture the stderr also in groovy?

[2017-02-10 03:08] robutcher commented on #176
println "return code: ${ proc.exitValue()}"
println "stderr: ${proc.err.text}"
println "stdout: ${proc.in.text}"

can't execute because the "proc.waitFor()"  never stops, so I can't capture the stderr in groovy.

[2017-02-10 03:10] terryyin commented on #176
What about
 sh returnStatus: true, script: “python -mlizard -f ${CHG_FILE} -W ${WHT_LIST} -l c -l cpp -t 15 > ${ANA_NEW}”

[2017-02-10 03:13] robutcher commented on #176
I think
sh returnStatus: true, script: “python -m lizard -f ${CHG_FILE} -W ${WHT_LIST} -l c -l cpp -t 15 > ${ANA_NEW}”
equivalent to “/usr/local/bin/python /usr/local/bin/lizard ......"

It is still running, "root 22114 1 0 Feb09 ? 00:00:00 /usr/local/bin/python /usr/local/bin/lizard -f chgfiles.txt -W whitelizard.txt -l c -l cpp -t 15".

[2017-02-10 03:14] rakhimov commented on #176
May this be relevant:
http://stackoverflow.com/questions/5483830/process-waitfor-never-returns

On Thu, Feb 9, 2017 at 7:10 PM, Terry Yin <notifications@github.com> wrote:

[2017-02-10 03:34] robutcher commented on #176
bt of call by jenkins

0x00000038b0c0d6c0 in sem_wait () from /lib64/libpthread.so.0
Missing separate debuginfos, use: debuginfo-install glibc-2.12-1.47.el6.x86_64 keyutils-libs-1.4-3.el6.x86_64 krb5-libs-1.9-22.el6.x86_64 libcom_err-1.41.12-11.el6.x86_64 libselinux-2.0.94-5.3.el6.x86_64 openssl-1.0.0-20.el6.x86_64 zlib-1.2.3-27.el6.x86_64
(gdb) bt
#0  0x00000038b0c0d6c0 in sem_wait () from /lib64

[2017-02-10 03:36] robutcher commented on #176
bt of call by groovy

#0  0x00000038b04d8450 in __write_nocancel () from /lib64/libc.so.6
#1  0x00000038b0470d43 in _IO_new_file_write () from /lib64/libc.so.6
#2  0x00000038b04722f5 in _IO_new_do_write () from /lib64/libc.so.6
#3  0x00000038b04709bd in _IO_new_file_xsputn () from /lib64/libc.so.6
#4  0x00000038b0466dcd in fwrite () from /lib64/libc.so.6
#5  0x000000000045c7b7 in string_print (op=

[2017-02-25 09:13] terryyin commented on #176
Sorry for not being able to help. Any updates?
X

[2017-02-27 01:09] salphaon opened #177 "[Bug] In linux, missing symbolic link file raise error"
Hi.

If origin file of symbolic link is missing, then the following exception occurs.

Traceback (most recent call last):
  File "/usr/local/bin/lizard", line 9, in <module>
    load_entry_point('lizard==1.12.9', 'console_scripts', 'lizard')()
  File "/usr/local/lib/python2.7/dist-packages/lizard.py", line 977, in main
    warning_count = printer(result, options, schema)
  File "/usr/local/lib/pyt

[2017-02-27 01:40] terryyin commented on #177
Yeah, that's a known problem. I always delete that link so that it won't block me.

I will try to fix this in the code. Thanks for reporting.

[2017-03-15 05:15] salphaon opened #178 "[Bug] Calculating H5A.c, lizard uses many memory and raise error."
[H5A.zip](https://github.com/terryyin/lizard/files/843486/H5A.zip)

In H5A.zip, it has H5A.c file which is part of debian vtk package source code.

`bash$lizard H5A.c `

print

================================================
  NLOC    CCN   token  PARAM  length  location
------------------------------------------------

then, lizard uses a lot of memory. print function name infinitely.

[2017-03-15 05:18] salphaon commented on #178
When using http://www.lizard.ws, analyze result well

[2017-03-16 03:20] salphaon commented on #178
@rakhimov
So, why does it work well on the web?

[2017-03-16 03:35] rakhimov commented on #178
@salphaon Good point!
I am not sure which version / how lizard is called in the web.
My first guess is that the missing terminator blowing the nesting level stacks.
I am getting MemoryError with
[code]

[2017-03-16 03:44] rakhimov commented on #178
@terryyin I think this is design hint to separate the "namespace" stack from the "nesting stack".
Currently, the nesting stack is playing a dual role by assuming that the code is syntactically sane.

[2017-03-16 03:54] rakhimov commented on #178
@terryyin Alternatively, the nesting stack should be restored to the same state at the function enter/exit
without assuming that the code is balances itself.

[2017-03-20 19:45] AdamZikmund opened #179 "What means token in results?"
I am using Swift. I want to ask what means tokens in results ?
`public func getResults() -> Any? {
        return results
    }`
This method generate 6 tokens
`private func passDictionary(dictionary: [String : String]) {
        var mutable = dictionary
        let string = UUID().uuidString
        mutable[string] = string
        results = dictionary
    }`
And this 43

[2017-03-21 06:54] terryyin commented on #179
Hi Adam,

Tokens here mean the words, operators or constants.  The result doesn’t count the method declaration though, so the first one got 6 (“any, ?, {, return, results, }”).

Terry

[2017-03-21 08:03] AdamZikmund commented on #179
Thank you, very much :)

[2017-03-23 11:04] rasjani opened #180 "Stylesheet loading fails because of location change."
When viewing the xml report in the browser (atleast firefox) - viewing fails because location of the xsl file in the xml is "wrong" eg, there's 301 redirection to https://raw.githubusercontent.com/terryyin/lizard/master/lizard.xsl where the original is https://raw.github.com/terryyin/lizard/master/lizard.xsl

[2017-04-14 06:15] robutcher opened #181 "wrong CCN in such situation"
xxx.c

typedef struct tagAAA
{

}AAA;

int func_a(int size)
{
    if(ccc() && ddd() && eee())
    {
        return 1;
    }
}

NLOC    Avg.NLOC  AvgCCN  Avg.token  function_cnt    file
--------------------------------------------------------------
     10       7.0     2.0       26.0         1     xxx.c

after  typedef struct tagAAA removed

NLOC    Avg.NLOC  AvgCCN  Avg.token  function_cnt    fil

[2017-04-16 23:32] terryyin commented on #181
Hi @robutcher,

Thanks for the report and sorry for the delayed reply. Just had a two week trip. The bug was introduced when adding support for cpp r-value reference. The problem is fixed on the trunk and I will create a new release once I’m reconnected to the internet again.

Terry

[2017-04-20 01:17] #181 closed

[2017-04-20 01:17] #179 closed

[2017-05-26 18:27] palusik86 opened #185 "sh: lizard command not found, but lizard is installed"
Hi

I have an issue with lizard. Called via
`sh("cd .. && lizard ./#{scheme}/ -l swift --xml > ./build/#{scheme}.reports/lizard-report.xml")`
in Jenkins job returns: `sh: lizard: command not found`

But when used via terminal everything works. Has anyone here had similar problem and can share some hints how to solve it ?

[2017-05-27 01:29] terryyin commented on #185
Hi @pawelp,

How and on which platform did you installed lizard? It looks like lizard isn’t installed for the Jenkins user (usually called jenkins on linux).

Terry

[2017-05-27 06:24] palusik86 commented on #185
Hi @terryyin

So lizard is installed using `sudo` on macOS Sierra. It was working before, but I've updated Jenkins and all the plugins installed. Now I'm trying to figure out why jenkins job is not seeing lizard. Also tried to reinstall lizard without sudo, no result.

[2017-05-27 08:00] terryyin commented on #185
Do you run your Jenkins as a separate user? Do you use the home brew python or the system python? Just a few thing that might help you:-)

[2017-05-27 10:53] #185 closed

[2017-05-29 10:51] datomnurdin opened #186 "/usr/local/bin/lizard: error: unrecognized arguments: --csv"
I can generate csv file. This is my command

[code]

Error message

[code]

Please advice. Thank you.

[2017-05-29 16:37] rakhimov commented on #186
@datomnurdin This feature has been introduced recently.
Are you using the current development version from GitHub or installing from PyPI?

[2017-05-29 20:09] datomnurdin commented on #186
Installing via PyPI.

[2017-06-01 09:20] robutcher opened #187 "[new] counts the max depth Functions"
now counter needed
the max depth Functions

[2017-06-01 16:05] rakhimov commented on #187
@robutcher Can you clarify what you mean by 'deapth'?

Lizard already has 'nesting CCN depth' and 'depth of nested control-flow structures',
which count the complexity of nesting 'if { while { for {....', for example.
Take a look at #69

[2017-06-04 08:43] terryyin commented on #186
Busy week… I will create a new release to include this new feature soon… while I’m landed in Beijing… and get proper internet connection.

[2017-06-04 12:52] datomnurdin commented on #186
Thanks @terryyin .

[2017-06-06 03:03] philliparente opened #188 "Doesn't work when python file has no functions"
When I run the analysis in a python file without any function inside, it is not be able to get the cyclomatic complexity. Is that some limitation?

[2017-06-06 03:04] rakhimov commented on #188
try '-Eoutside'

[2017-06-06 03:13] philliparente commented on #188
Thanks, but there are a way to run with extension as a python module? (ex: i = lizard.analyze_file("../cpputest/tests/AllTests.py"))?

[2017-06-06 03:23] rakhimov commented on #188
Hmm,
There's also 'analyze' function that takes a list of extensions,
or you can call 'FileAnalyzer(get_extensions(['outside']))(filename)'.
I didn't test test this, just a wild guess.

[2017-06-06 12:38] philliparente commented on #188
Thanks, but when I run FileAnalyzer(get_extensions(['outside']))(filename)  I get 'unicode' object is not callable. When I run without extension and  with this aproach "FileAnalyzer(get_extensions([]))(filename)"  the lizard runs, but can't get de cyclomatic complexity. There is a way to pass this extension as a python module?

[2017-06-10 10:04] terryyin commented on #188
Hi @philliparente , use get_extensions(['outside']) to translate the string list to python modules.

[2017-06-10 11:07] #186 closed

[2017-06-10 22:10] philliparente commented on #188
Oh, maybe my mistake. The get_extensions(['outside']) function doesn't work when you have "from __future__ import unicode_literals". I removed the import and set unicode where i really need them. Thanks

[2017-06-11 02:30] terryyin commented on #188
Which version of Python are you using? Let me try if I can reproduce this.

[2017-06-11 11:04] philliparente commented on #188
2.7.12

[2017-06-11 21:07] rakhimov commented on #171
Turns out this has been implemented in [cloc](https://github.com/AlDanial/cloc) tool.

[2017-06-11 21:07] #171 closed

[2017-06-11 21:08] rakhimov commented on #187
@terryyin I suggest closing this issue as duplicate.

[2017-06-16 02:03] #187 closed

[2017-06-29 20:56] etorlows opened #189 "Lizard not handling macros in C++ correctly"
With the following C++ code:
[code]

Dox generates the following output:
![doxmacrobug](https://user-images.githubusercontent.com/29785071/27709798-1451f80a-5ce3-11e7-91da-5619793c16e2.png)

I've found that when the IGNORE_FLAGS and END_IGNORE_FLAGS macros are removed, the tool works without issue.

[2017-06-29 21:06] etorlows opened #190 "Lizard not handling functions within unions correctly"
For the following code:

[code]

Lizard generates the following output:
![doxunionbug](https://user-images.githubusercontent.com/29785071/27710254-b019601a-5ce4-11e7-9706-da253a28276e.png)

This shows that the long_name generated by lizard includes the namespace or the class that a function is contained in but does not contain the union the function is contained in. This inconsistency can cause is

[2017-06-29 21:34] rakhimov commented on #189
First, as the readme states, Lizard does not handle macros (code-gen) by its design.
It tries to ignore them.
Macros are evil; the code may end-up looking syntactically bogus for tools that don't do macro processing.

I don't see what the problem is when running from the command-line:
[code]

[2017-06-29 23:53] #190 closed

[2017-06-29 23:56] terryyin commented on #189
The reason I created Lizard was because I wanted to ignore preprocessing when getting the complexity numbers. The downside is for some macros that breaks the syntax without expanding them lizard might not work.

I'm looking for a solution now but it'll take time:-)

[2017-07-25 11:49] kskrishnan commented on #180
Hi, can you please fix this?

[2017-07-26 02:08] terryyin commented on #180
Sorry for the late fix. Done. and a new version deployed to Pypi too.

[2017-07-26 02:08] #180 closed

[2017-08-10 02:37] terryyin commented on #61
@foobra could you also provide the swift code?

[2017-08-10 05:19] foobra commented on #61
@terryyin
`extension HomePageTimelineVC: UITableViewDataSource, UITableViewDelegate {
    public func tableView(_ tableView: UITableView, cellForRowAt indexPath: IndexPath) -> UITableViewCell {
        switch viewModel.vms[indexPath.row] {
            case let model as TimelineCellPhotoViewModel:
                let cell = tableView.dequeueReusableCell(withIdentifier: TimelineCellPhoto.className)

[2017-08-14 01:38] robutcher opened #193 "Add new counter : max depth of function"
would you add a new counter ?
max depth of function

[2017-08-14 01:42] rakhimov commented on #193
@robutcher C'mon this is a duplicate of your #187 (Why are you opening a duplicate?).
You haven't clarified what 'depth' you want.
All the discussion is in #187.

[2017-08-14 01:46] rakhimov commented on #193
This is a duplicate of a duplicate : Dupliception :)

[2017-08-14 02:09] #193 closed

[2017-08-14 02:09] robutcher commented on #193
sorry, I forgot it.

[2017-08-15 09:00] qwertmy opened #194 "cannot get CCN in such situation"
xxx.c
void func_a()
{
       xxx;
       xxx;
       #if 0
           if (a==b       /****error compile****/
           {
                 cccccc;
           }
      #endif
      xxx;
}
================================================
  NLOC    CCN   token  PARAM  length  location
------------------------------------------------
1 file analyzed.
====================================================

[2017-08-15 12:22] cyw3 opened #195 "Lizard can not generate Html report???"
![image](https://user-images.githubusercontent.com/11549103/29315881-13ce0e48-81f8-11e7-88ea-9c1921b31cc0.png)

[2017-08-17 09:44] foobra commented on #61
@terryyin can we fix that?

[2017-08-17 10:05] terryyin commented on #61
@pinguo_gaoshan if you know the solution, please send a pull request (don’t forget the tests).

I won’t have time to look at this at least for this week (weekend maybe).

[2017-08-18 07:31] terryyin commented on #195
You are right, it's never implemented.

Want to try?

[2017-08-18 07:40] terryyin commented on #194
Yes, lizard cannot accurately process preprocessor. That's a trade off so that it doesn't need all the header files.

I'm considering implementing to support at least preprocessing within the file...

[2017-08-18 07:41] #23 closed

[2017-08-18 07:41] #49 closed

[2017-08-18 07:42] #82 closed

[2017-08-18 07:42] #90 closed

[2017-08-18 07:42] #96 closed

[2017-08-19 22:57] terryyin commented on #162
has been updated last year.

[2017-08-19 22:57] #162 closed

[2017-08-19 23:16] terryyin commented on #170
Temporarily removed all the website code. Will move to a separate project instead of branch when I have time.

[2017-08-19 23:16] #170 closed

[2017-08-19 23:20] rakhimov commented on #195
Is this a duplicate of #76?

[2017-08-19 23:21] terryyin commented on #76
Yep, do you know how to merge issues?

[2017-08-19 23:22] rakhimov commented on #76
You reference & close duplicates :)
That's the only way I know.

[2017-08-19 23:23] terryyin commented on #76
Cool. I'm having a 6.5-hour flight ahead. Will work on something then. Not likely to be this one though.

[2017-08-19 23:24] #76 closed

[2017-08-19 23:25] rakhimov commented on #76
@terryyin I think you need to keep this 'original' issue open and close the duplicate #195 .

[2017-08-19 23:27] terryyin commented on #76
Yes, but this time I created the original long time ago. So want to keep the ‘real request’ open.

[2017-08-20 22:16] terryyin commented on #176
There hasn't been much activity here. Let me close the issue for now.

[2017-08-20 22:16] #176 closed

[2017-08-20 22:20] terryyin commented on #178
@salphaon the lizard used by the web is a bit old. The bug is still there, I'm still investigating. I'm guessing related to the nesting stack.

[2017-08-20 22:21] terryyin commented on #189
This is fixed now. Lizard and recognise both method, with the right measurement.

[2017-08-20 22:21] #189 closed

[2017-08-20 22:25] #97 closed

[2017-08-20 22:29] terryyin commented on #126
@rakhimov I removed two lines of nested_structure code to pass a test. Do you remember why they were there?

https://github.com/terryyin/lizard/commit/e4c68983d30984e3b4261c86ded3f5024a85c905

[2017-08-20 22:54] rakhimov commented on #189
@terryyin Please reference your commits with issue numbers.

Transferring the discussion to appropriate thread from https://github.com/terryyin/lizard/issues/126#issuecomment-323616183

``git blame`` helps track down the reason:
[code]

I need to look deeper to the recent changes and add more NS tests.

[2017-08-20 23:20] rakhimov commented on #126
There hasn't been any request or interest for custom control-flow keywords (Qt or Boost),
so I think it is not worth implementing.
Reopen if there's more interest or need in future.

[2017-08-20 23:20] #126 closed

[2017-08-21 04:24] terryyin commented on #194
After some consideration, I decided that putting code block in "#if 0" is a bad practice. We should rely on our version control system for such a need. So I will still delay the implementation of real preprocessing support.

[2017-08-21 04:26] terryyin commented on #188
Can I close this issue now?

[2017-08-21 12:01] philliparente commented on #188
Oh thanks for replying. Did you reproduce the environment error?

[2017-08-22 01:56] #178 closed

[2017-08-22 02:00] terryyin commented on #178
The bug is now fixed, with a new PyPI version created.

In a nested structure, when there's a macro call with no semicolon ending, all the non-nested structures need to be popped out of the stack @rakhimov

thanks @salphaon for reporting it.

[2017-08-23 08:28] Drogglbecher opened #196 "Type error when using csv output"
Hi,

first of all: Thanks for your work, nice tool :)

However, I got an issue with the csv output. When running on a python file I get all the values for NLOC, CCN, etc. but after that I get the following error (using python 3.6.2, installed lizard via pip):

[code]

Thank you
Sebastian

[2017-08-23 09:42] terryyin commented on #196
OK. Fixed and created a new version 1.12.15.

Thanks for reporting.

[2017-08-23 09:42] #196 closed

[2017-08-27 13:47] terryyin commented on #141
@rakhimov I have reverse-engineered the nested structure implementation with https://github.com/terryyin/lizard/compare/e4f7ff1889ee...63ceb48a3ea7.

Thanks for your great tests. I had a wonderful journey of test-driven development. Didn't re-implement it for Python though. I think for Python it's just the level of indentations.

[2017-09-06 13:49] marksands opened #197 "Lizard doesn't handle names in Emoji"
I'm using lizard as one tool for SonarQube analysis. The generated XML file is being generated as UTF-8, but a method name in my swift file contains an emoji character, so everything is mad.

It _should_ render as this:

[code]

But the emoji is not rendered, causing grief between tools.

[code]

I'm not 100% sure if this is a lizard problem, a sonar-scanner problem, or both.

[2017-09-07 02:19] terryyin commented on #197
But why do you do that?... Ok, because you can...

Let me do a test and try to fix it.

[2017-09-07 02:30] terryyin commented on #197
Lizard read the source code by itself and I've tested that at least in the xml text output by Lizard the emoji is still there. Lizard does write the xml to a file by itself, so the problem might occured during the writing.

[2017-09-07 02:40] marksands commented on #197
@terryyin I gave a bad example. It's not limited to emoji, but characters such as `θ` or `π` as well: https://github.com/krzyzanowskim/CryptoSwift/blob/cf75e33f637ae36a18dc18c813965e03c19d0684/Sources/CryptoSwift/SHA3.swift#L98

[2017-09-07 02:42] marksands commented on #197
I'm not a character encoding expert, so my issue may not be 100% related to lizard, but I do know that lizard's XML file output is converting both the emoji and the theta and pi characters to gibberish.

[2017-09-07 02:44] terryyin commented on #197
Yup, cannot argue with a swift repo with 4k+ likes.

At least on my Mac, `lizard --xml a.swift > output.xml` still keeps the emoji.

Is it running on a Mac?

[2017-09-07 15:40] marksands commented on #197
Interesting.. mine does not. I am on a Mac running version `1.12.7`.

[code]

[2017-09-07 22:21] terryyin commented on #197
Ah, maybe it's the Python version. Which version do you use?

Sent from my iPhone

[2017-09-08 02:58] marksands commented on #197
[code]

[2017-09-09 18:40] marksands commented on #197
Aha! I just went through the python3 pip3 dance to get lizard installed and running under python3 and now I'm seeing the proper character sets! That was it!

[2017-09-19 01:40] #197 closed

[2017-09-20 23:49] terryyin commented on #197
Thanks for closing this issue. I wasn't sure if I should add unicode source code support for lizard with Python 2.7. Now I decide to postpone it again.

[2017-09-21 02:32] marksands commented on #197
@terryyin No problem. We are okay with using python3. Thanks for the tip!

[2017-09-22 03:47] smkingsoft opened #198 "csv format need long function name and need not head"
in csv output
use -V, --verbose
output csv head and short function name
now i need long function name and need not csv head.
how can i do?
@terryyin

[2017-09-25 03:38] terryyin commented on #198
Sorry for the late reply. Have you find a way to deal with this yet? It feels a bit too trivial to add a command option for it.

[2017-09-27 01:02] smkingsoft commented on #198
now，i modify csvoutput.py, add one column as funclongname for output csv file。

[2017-09-27 02:39] terryyin commented on #198
Can I close this issue?

[2017-09-28 10:49] smkingsoft commented on #198
ok, maybe u can merge into u source code.
thx.

[2017-10-03 21:14] edualm opened #199 "Report from Python Module"
Hello,

I am finding no way of generating a report for all the files when using Lizard as a python module, like what happens when you run lizard on a folder.

Is there any way of doing this?

Thanks.

[2017-11-19 18:22] hgn opened #200 "JSON Output Support"
Great tool! To be more useful JSON output beside XML/CSV may pitch the use of Lizard. Parsing csv fine, but json.loads(str) is more natural.

[2017-11-20 20:07] hgn opened #201 "Option to Exclude Switch/Case Cascades"
One major cited disadvantage with Cyclomatic Complexity are switch/case statements. Using lizard in larger projects the upper 10% are **valid** switch case statements where you never want to replace this code. Even more: nearly no switch case statement in the analysed code can or will be replaced - they are all fine.

Idea: add an option to exclude switch/case statements from the analysis. Will be

[2017-11-20 20:08] hgn opened #202 "Nesting Analysis"
Is it possible to add an additional feature to count idents? You desribe it itself in https://github.com/terryyin/lizard/blob/master/theory.rst and is probbaly a nice additional metric for software.

[2017-11-21 02:18] terryyin commented on #202
Yes, but it will perhaps take some time. I will have some time in the coming weeks.

[2017-11-21 02:21] terryyin commented on #201
I think there is an option already, which is ```—modified```. I think the help message can be improved.

[2017-11-21 02:30] terryyin commented on #200
Yes, let me do it.

[2017-11-21 07:42] hgn commented on #201
Great news! Yes the help message should be extended to understand this aspect. Are there any other side aspects or is it just "remove switch/case" from the statistics?

[2017-11-21 07:44] hgn commented on #202
Great! I am really surprised how rock solid lizard runs, really a great piece of software. Thank you!

[2017-11-24 01:27] terryyin commented on #201
The only change is counting "switch" instead of counting "case". Yeah, the option "--modified" is a bit over generalisation for something very specific:-)

Will add it to the help and readme.

[2017-11-24 01:27] #201 closed

[2017-11-24 08:36] hgn commented on #201
Perfect! Thank you @terryyin

[2017-11-29 04:54] cyw3 opened #203 "[--modified]What does "--modified" mean? Incremental analysis？"
I do not understand "--modified" option. Does it mean "Incremental analysis" ???

                      which count a switch/case with multiple cases as
                      one CCN.

[2017-11-29 04:55] cyw3 commented on #195
I have implemented Html output by myself.

[2017-11-29 05:06] cyw3 commented on #203
And how to use it.

[2017-11-29 06:10] terryyin commented on #203
Hi,

The ‘-m’ or ‘—modified’ options does only a small change to the result. By default, a switch/case with 3 cases will by counted as 3 CCN. With ‘-m’, it will be counted as only 1.

Just
`Lizard -m`
will do.

Terry\

[2017-11-29 06:11] terryyin commented on #195
Send a pull request if you like:-)

[2017-11-29 09:22] cyw3 commented on #203
Why “With ‘-m’, it will be counted as only 1.”??
What is the meanning of '-m'?

[2017-11-29 09:24] cyw3 opened #204 "How to determine the code duplication？"
How to determine the code duplication??

I guess:
1. tokens's hashcode
2.code's AST

[2017-11-29 09:43] penguish commented on #204
Rabin-Karp algorithm? There is some overlap with plagiarism detection:http://www0.cs.ucl.ac.uk/staff/j.krinke/publications/scam16.pdf

[2017-11-30 02:55] #204 closed

[2017-12-03 02:40] cyw3 opened #205 "[--sort]How to use --sort?"
I use it like below:
python lizard.py sourcedir --CCN 10 --csv --sort cyclomatic_complexity

However, it is not work.

![image](https://user-images.githubusercontent.com/11549103/33521763-5397fd12-d816-11e7-8d56-9cff0679ad16.png)

[2017-12-03 05:26] terryyin commented on #205
I’m not sure if —csv works with —sort. Will check. But need to onboard an airplane soon now. Talk to you when I’m on the ground again.

[2017-12-03 14:40] terryyin commented on #205
The sort option only sort warnings in standard output. As the csv output includes everything, do you expect the output to be sorted within each file? That can be done easily. On 3 Dec 2017, at 1:26 PM, Terry Yin <terry.yinzhe@gmail.com> wrote:I’m not sure if —csv works with —sort. Will check. But need to onboard an airplane soon now. Talk to you when I’m on the ground again.On 3 Dec 2017, at 10:40

[2017-12-03 14:40] terryyin commented on #203
-m means “modified”, which is a bit of an over-generalization for just change the counting of switch/case.The reason behind this is some people believe that a switch/case with many cases doesn’t add as much complexity as ifs do, which I don’t quite agree. So this option is added to switch between the two ways of counting.On 29 Nov 2017, at 5:22 PM, cyw3 <notifications@github.com> wrote:Why “With ‘

[2017-12-04 12:00] cyw3 commented on #205
I expect the csv that lizard outputs can sort by cyclomatic_complexity.

[2017-12-06 13:16] cyw3 opened #206 "Can lizard detect duplicate code files?"
I use lizard to scan the directory of a file "highcharts.js" a nd its copy.
![image](https://user-images.githubusercontent.com/11549103/33663282-4e1c96a2-daca-11e7-832b-17139a93ed6a.png)

And i find that the result of lizard just show the CCN of highcharts.js and have not the CCN of highcharts2.js.

After i modify the content of highcharts.js.
The result have all CCN of two file.

So, Can lizard d

[2017-12-06 23:42] terryyin commented on #206
Yes, lizard will not do the analysis again if the file’s MD5 hash is identical.

[2017-12-07 09:30] cyw3 opened #207 "Show Long name of fun with its arguments in csv output file!!!"
I find there is no long name of fun in the csv output file of lizard.

![image](https://user-images.githubusercontent.com/11549103/33708055-5f7c9528-db74-11e7-824b-1ba91ed24286.png)

I think it is necessary.

[2017-12-07 09:44] cyw3 commented on #207
or how to get the hashcode of every issue?

[2017-12-08 10:59] cyw3 opened #208 "Anonymous function and Nested functions"
Does Lizard support Anonymous function and Nested functions?

I want to know the situation of Anonymous function and Nested functions in each language lizard supported.

Thanks!

Test:
python:
def outer(n):
	def inner_multiple(n):
		return n * 2
	num = inner_multiple(n)
	print(num)

js:
var Prison=function() {
    var food='rice';
    return Prisoner(){
        return food;
        };
}

[2017-12-08 11:13] cyw3 commented on #208
![image](https://user-images.githubusercontent.com/11549103/33763514-c09670b8-dc4b-11e7-9cc2-3ae9a5f16289.png)
and use lizard to scan the code, lizard can not find this kind of Anonymous function :
![image](https://user-images.githubusercontent.com/11549103/33763534-d1e2e298-dc4b-11e7-8b3d-507becc69c2f.png)

[2017-12-08 11:16] cyw3 commented on #208
![image](https://user-images.githubusercontent.com/11549103/33763590-0dc8f07c-dc4c-11e7-8427-cef834d70559.png)
Lizard just find function Prison() and can not find Prisoner().
![image](https://user-images.githubusercontent.com/11549103/33763627-33e95594-dc4c-11e7-84f2-29163b2bc140.png)

[2017-12-08 11:20] cyw3 commented on #208
![image](https://user-images.githubusercontent.com/11549103/33763701-721790ec-dc4c-11e7-8d11-47d1e0f712bc.png)
We can see these two function_name is the same but start_line and end_line.
I think it is not suitable.

3,1,11,0,3,"function@3-5@/Users/**/Desktop/Test/lizard/test.js","/Users/**/Desktop/Test/lizard/test.js","function","function )",3,5
1,1,9,0,1,"function@10-10@/Users/**/Desktop/Test/liz

[2017-12-08 11:23] cyw3 commented on #208
python code:
f = lambda x: x * x

lizard can not find this kind of fun.
i think lizard can calculate this fun's CCN.

[2017-12-08 11:28] cyw3 commented on #208
![image](https://user-images.githubusercontent.com/11549103/33764091-fdced11c-dc4d-11e7-8c49-57bbc340d888.png)

![image](https://user-images.githubusercontent.com/11549103/33764079-ec5b23d6-dc4d-11e7-8185-39e17635a457.png)

[2017-12-11 01:56] terryyin commented on #208
Thanks! I will use your example to test drive the fix.

[2017-12-11 11:44] cyw3 commented on #208
![image](https://user-images.githubusercontent.com/11549103/33829504-83bdc9fe-deab-11e7-9ee2-5520761125db.png)

![image](https://user-images.githubusercontent.com/11549103/33829531-a0b69e00-deab-11e7-8b2b-fffe4799eb2a.png)

why does lizard support python namespace?

[2017-12-11 13:16] #207 closed

[2017-12-11 13:17] #206 closed

[2017-12-11 13:21] cyw3 opened #209 "Generate a hashcode id for every function!"
Suggest lizard can generate a hashcode id for every function!
And for the same function, every time using lizard to scan it, its hashcode id is not change, unless its name or params are modifier.

@terryyin

[2017-12-12 02:03] terryyin commented on #209
So they hash code is calculated from the name and parameters?

Any idea how to do it so that the hash code can be a bit tolerable to changes?

[2017-12-12 06:36] cyw3 commented on #209
can use file's path and function's long name with detail namespace and function's params name, and the line number is not suggested.

if lizard have function's hashcode id, it can track the function based on the id between every time scanning.

[2017-12-14 19:32] bistMania commented on #137
Hi,
If you have code with #if 0 directive the tool is confused

int abc() {
int xya=0;
int www=0;
int xxx;
#if 0
if(www)
xxx=1;
else {
#endif
xxx=2;
//}
}

Do you have any workaround for that?

[2017-12-15 01:30] terryyin commented on #137
with option -Ecpre, it will take the block before #else only. But in your case it's very wrong. I don't have a workaround right now (perhaps except to switch the if & else by reverse the logic in your source code.

So lizard is trying to get how complicated the code "looks" rather than "actually is".

I'm thinking perhaps I can let lizard to deal with obvious directives like #if 0 in the future.

[2017-12-15 09:05] bistMania commented on #137
This is quite dangerous. Due to this bug it merged 3 functions into one and reported total CCN that was 3 times higher than it should be.

I think you can change a logic to ignore #if 0 as you do for #else (invert condition just for if 0). For #if 1 your approach will work fine with -Ecpre

Thanks

[2017-12-18 08:36] cyw3 opened #210 "[bug]A error at ruby.py"
python lizard.py path/to/project --CCN 10 --csv --working_threads 3 --sort cyclomatic_complexity -l javascript -l python -l objectivec -l ttcn -l php -l scala -l ruby -l swift

![image](https://user-images.githubusercontent.com/11549103/34096492-75a5cbfe-e410-11e7-9072-111bc9640ce9.png)

and I can not end the thread of working process.
![image](https://user-images.githubusercontent.com/11549103/34

[2017-12-18 08:41] cyw3 commented on #210
And I use the command with "--working_threads" below:
python lizard.py path/to/project --CCN 10 --csv --sort cyclomatic_complexity -l javascript -l python -l objectivec -l ttcn -l php -l scala -l ruby -l swift

everything it is OK.

[2017-12-18 11:28] cyw3 opened #211 "function name error"
class name is :

public class BaseFeedClickProcessor implements OnFeedElementClickListener {
public void onClick(View v, FeedElement element, int feedPos, Object args) {}
}

use lizard to scan this:
BaseFeedClickProcessorimplementsOnFeedElementClickListener::onClick( View v , FeedElement element , int feedPos , Object args)

it is wrong!

[2017-12-18 13:40] cyw3 opened #212 "Find the same output issues!!!"
Lizard scan a js file.

![image](https://user-images.githubusercontent.com/11549103/34108709-103d6be2-e43c-11e7-867a-b250b562a729.png)

These four row are the same thing.

@terryyin

[2017-12-19 02:06] cyw3 opened #213 "A wrong result "if", "for", "synchronized","while" ,not a function"
lizard scan objc project:

![image](https://user-images.githubusercontent.com/11549103/34137104-0c2fdc0c-e4a4-11e7-8def-1a26f39a96bc.png)

Find some wrong result. it is "if" statement, not a function.
![image](https://user-images.githubusercontent.com/11549103/34137146-442e9a26-e4a4-11e7-961f-5696e455738b.png)

@terryyin

[2017-12-19 09:49] cyw3 opened #215 "Error when occur symlink"
ServerConfig.h is a symlink whose real file is not exist.

![image](https://user-images.githubusercontent.com/11549103/34150975-e5e5a28e-e4e4-11e7-9b86-0587e26bddd9.png)

[2017-12-19 09:50] terryyin commented on #215
Symlink is a known problem that need to be fixed. Thanks for reporting.

[2017-12-26 01:44] mfpiccolo opened #216 "JSX support"
This is a very useful package but it seems that it does not yet support JSX.  Is there any plan to support this in the future?

[2017-12-26 01:48] mfpiccolo commented on #158
Any update on this issue?

[2018-01-26 03:51] liaogz82 opened #218 "Fastlane support"
Hi guys,

I created a Fastlane plugin for lizard, mainly for swift and android project.

check out https://github.com/liaogz82/fastlane-plugin-lizard

all fork and issues are welcome

[2018-02-22 07:15] mosesliao opened #222 "Kotlin support for lizard?"
Hi. Any plans for lizard to be used for kotlin?

[2018-02-22 10:25] dskeppstedt commented on #205
I think the sort command should sort all the output, not only warnings.

[2018-02-23 03:20] liaogz82 commented on #222
Kotlin is like swift. I guess we see first. If there is no thumbs up, I will not develop one

[2018-02-28 04:58] liaogz82 opened #223 "ignore warnings option not working"
I tried to run `lizard --ignore_warnings 2` to a project that has more than 2 warnings but it still goes through. Can you look into it? I need this to work.

I cannot force my CI to stop if this feature is not working

[2018-02-28 08:16] terryyin commented on #223
Yes. Will come back to this soon.

[2018-03-02 02:02] terryyin commented on #223
it seems the status code is 1 for me here. Can you give a bit more information for me to reproduce this?

[2018-03-02 04:38] liaogz82 commented on #223
I run `lizard -l swift --ignore_warnings 2 jarvis`. it produce the following warning

[code]

Still the script goes through without throwing an error

[2018-03-02 04:40] liaogz82 commented on #223
then I run this in irb it throws an error which I wanted

[code]

[2018-03-02 05:00] liaogz82 commented on #223
Ok I know what is the problem now. closing issue

[2018-03-02 05:00] #223 closed

[2018-03-07 08:57] d-stahl-ericsson opened #224 "Ignoring default condition in switch clauses"
I recently stumbled upon the fact that Lizard appears to ignore default conditions in switch clauses. To my understanding, these should be counted in McCabe's cyclomatic complexity?

To exemplify, the following method should yield CCN=4, but Lizard reports CCN=3 (example taken from https://blog.sonarsource.com/cognitive-complexity-because-testability-understandability):

[code]

I'm only scratchin

[2018-03-07 09:05] terryyin commented on #224
Question: if the only thing inside a switch block is a default (there’s no case), will it add branches to the code?

No, right? Same reason for ‘else’, the complexity for ‘else’ and ‘default’ is already included in the parent structure it belongs to.

[2018-03-07 09:17] d-stahl-ericsson commented on #224
I have to say that's a pretty convincing argument :) Clearly there seems to be some diverging interpretations here, though, as I can easily find examples both counting and not counting default with a bit of googling. You have a much better understanding of this field than I do - are people simply as confused as I am/was on this point, or what's going on?

[2018-03-07 09:42] terryyin commented on #224
I think it’s pretty common people get confused.

What default and else added to the complexity is the length of the trunk.

[2018-03-13 03:32] #195 closed

[2018-03-13 03:42] liaogz82 commented on #195
Err... are you going to create a new release for this? `1.14.0` or something?

[2018-03-14 01:51] terryyin commented on #195
Will do it by the end of today.

[2018-03-14 09:17] terryyin commented on #195
Done.

[2018-03-15 03:05] liaogz82 opened #225 "can't run new version 1.14.0"
Hi @terryyin, I can't run the new version of lizard. This is what I get

[code]

Please look into it. Thanks

[2018-03-15 15:32] arpitx165 opened #226 "Lizard is having issue with Parametrizable class Syntax"
If we add code, where the class type can be Parametrizable then Lizard gives wrong complexity sometimes it doesn't give complexity(Return Empty).

` Class<?>[] testClasses = {String.class};`

Why is `?` treating as a decision point?

Edit :

Example - for the below Java code

     class demo{

     public void test(){

     Class<?>[] testClasses = {String.class};

     }

     public void test1()

[2018-03-16 01:43] terryyin commented on #226
Oh, that’s because it took the ? as the ternary operator!

Let me try to fix this.

[2018-03-16 04:02] terryyin commented on #226
I fixed it but with a very specific solution. It only works for <?>. Is it good enough?

[2018-03-16 05:31] arpitx165 commented on #226
@teryyin Yes that's fine but it's generalized solutions when we pass wildcard characters (for example : ?, * etc. )

[2018-03-16 05:41] terryyin commented on #226
But ? is the one making trouble here. So I will call it a good enough solution for now. Included in a release already.

[2018-03-16 05:41] #226 closed

[2018-03-16 13:24] arpitx165 commented on #226
@terryyin Okay fine.If i find any problem then i will share with you  :)

[2018-03-16 16:51] BadChoice opened #227 "print_xml not defined"
I'm pretty sure it is me, but I can't find any comment about this

when trying to run lizard, I get this error:

[code]

I tried both master, and the 1.14.4 release
Using osx High Sierra

[2018-03-17 00:26] terryyin commented on #227
Hi Jordi,

Thanks for the notice. It should be fixed now.

[2018-03-17 14:24] BadChoice commented on #227
Great! it's working now!
Thank you so much!

[2018-03-17 14:24] #227 closed

[2018-03-20 01:03] liaogz82 commented on #225
@terryyin still error
[code]

[2018-03-20 01:38] #224 closed

[2018-03-20 02:30] terryyin commented on #225
OK. Should work now.

[2018-03-21 02:08] liaogz82 commented on #225
dude, not solved yet

[code]

[2018-03-21 03:17] terryyin commented on #225
eh, this time it's truly strange. I tested it with Mac and Windows and both worked.

I added a new change which will try sys.exec_prefix if it failed to find the template in sys.prefix. Please try if this fixes it. Otherwise I need to put the template.html in code.

[2018-03-21 05:55] liaogz82 commented on #225
I would suggest you put template.html in code

You can try running this modified example of `Dockerfile` I use for `fastlane-plugin-lizard` for circleci

[code]

This is what I get in the end

[code]

Obviously xml work but html doesn't

The circleci ruby docker image uses debian OS as the base

[2018-03-21 07:55] terryyin commented on #225
Thanks for the docker file! It’s now really fixed:-)

[2018-03-22 02:28] liaogz82 commented on #225
You are welcomed.

But can I suggest that you tighten the CI/CD process? maybe when I have the time I can help you add some unit tests so that we don't need to make so many mistakes just to get something launched. Better than me just writing a readme to tag the plugin to lizard

[2018-03-22 02:53] terryyin commented on #225
That would be great. There has been so many mistakes is mostly because I took the html output pull request in a haste, which until now still doesn’t have any real test. That’s somewhere a lot of improvement is needed.

Also, I will add a smoke test for releases.

[2018-03-28 06:37] #225 closed

[2018-03-28 06:38] liaogz82 commented on #200
what is the use case of using json? so far for sonar xml is fine

[2018-03-28 06:43] terryyin commented on #200
Eh, guess that's why I still haven't done it.

[2018-04-09 10:40] FanJianming opened #229 "CCN reports increctly for func_b because of func_a "Nested #if""
void func_a()
{

int a =1;
int b =2;

#if 0
#ifdef _DEBUG_
                    if(b > a)
                    {
                        #if 0
                        if(flr_stat_operation_flag ==TRUE)
                        {
                        }
                        else
                        {
                        #endif
                        printf("%s","a>b");

[2018-04-10 08:06] terryyin commented on #229
Yes. Lizard still cannot do preprocessing.

So, in a way, Lizard is counting how complicated the code “looks” from a reader’s perspective gathering from a compiler’s perspective. That’s not entirely true because sometime Lizard counts the wrong function because the brackets in preprocessor.

[2018-05-07 13:03] #229 closed

[2018-05-07 16:40] xsolo opened #230 "Metric 'function_complexity' / file_complexity should not be computed by a Sensor"
lizard  1.14.10
sonarqube version 6.7.2 (build 37468)

The lizard runs fine but when processed by the sonar scanner I got the bellow. Is there a way to prevent lizard from generating the function_complexity and file_complexity metrics?

[code]

[2018-05-07 23:54] terryyin commented on #230
Sure. Is there a reference to the definition of file_complexity metrics?

[2018-05-08 16:36] xsolo commented on #230
Not sure, this is what I got from the strack trace (above).

[2018-05-09 03:59] liaogz82 commented on #230
i suggest you file the issue with SonarSources

https://github.com/SonarSource/sonarqube

[2018-07-05 01:41] terryyin commented on #222
Hey,

A late happy birthday and sorry for the super late reply:P

Lizard use a manually created state-machine (not an AST) to parse code. And each language has a bit special states, here’s the swift specific states:
https://github.com/terryyin/lizard/blob/master/lizard_languages/swift.py <https://github.com/terryyin/lizard/blob/master/lizard_languages/swift.py>

[2018-07-10 08:04] satzz opened #231 "Does Duplication Finder work for Python 2.7?"
I didn't confirm it working in my local env and the last test apparently failed at `TestDuplicateExtensionAcrossFiles.test_basic_duplicate `.
https://travis-ci.org/terryyin/lizard/jobs/385983747

[2018-07-11 02:55] terryyin commented on #231
Oh, I haven’t run it with 2.7 yet. Will take a look in one week time. Thanks!

[2018-07-16 09:24] gucj opened #232 "the result between xml format result and no format output is different"
**at the same git repository dir,the result of different format is different.**
`<average label="NCSS" value="15.577027027027027"/>  != Avg.NLOC 12.1 `
**run lizard  -X >>result.xml**
the summary result is:
`		<average label="NCSS" value="106.73148148148148"/>

		<average label="CCN" value="21.25"/>

		<average label="Functions" value="6.851851851851852"/>

		<sum label="NCSS" value="11527"/>

		<

[2018-07-18 20:52] raatiniemi commented on #230
@xsolo I'm not sure that this is an issue that should be solved in here, since it's an issue in the SonarQube plugin you're using. I assume that you're using Backelite/sonar-swift? They have an open issue, which is waiting to be solved (Backelite/sonar-swift#75).

The reason you get these errors is because SonarQube compute these values on the server side (based on related values), rather than on

[2018-07-20 00:37] geoland1st opened #233 "McCabe numbers for C code are too high when compared with other commercial tools"
I am looking to use this tool to measure McCabe Cyclomatic Complexity on the C code in our project. For example, when I run Understand for C or Crystal Flow on a particularly complicated function they both give the CCN as 101. Lizard gives a CCN of 140. If I add the -Emccabe option, then Lizard gives a CCN of 136. I see this inflation in other, less complex functions as well. I love how easy this

[2018-07-20 04:02] terryyin commented on #233
Hi @geoland1st, thanks for using Lizard. Lizard has been serving many users for many years. I guess it's result is useful:-) Could you give me an example (obfuscate it if it's sensitive) so that I can investigate?

Right now, my guess is it's because of the pre-processor directives. Lizard will count `#if` as a condition.

[2018-07-20 04:49] geoland1st commented on #233
Hi Terry,

Thanks for your quick response. I will send you the code in my morning (maybe your evening). I expect you are right about the preprocessor conditionals. Any way to get around it? I wonder what those other tools do. I do believe you have made a useful tool. I discovered it because a large company I work with uses it.

George Anderson

On Jul 19, 2018, at 9:02 PM, Terry Yin <notifications

[2018-07-20 06:05] terryyin commented on #233
George, thanks and please send.

If it’s because of the preprocessor, `-Ecpre` might improve the result a bit. It will choose the first branch in `#if` only. But personal opinion, I think `#if` should be counted as CCN.

[2018-07-20 23:06] geoland1st commented on #233
Okay, code is attached. The ‘-Ecpre’ dropped the CCN to 119, which is closer, but not matching the other tools score of 101.

- George

From: Terry Yin <notifications@github.com>
Sent: Thursday, July 19, 2018 23:05
To: terryyin/lizard <lizard@noreply.github.com>
Cc: Anderson, George <ganderson@spectrumcontrols.com>; Mention <mention@noreply.github.com>
Subject: Re: [terryyin/lizard] McCabe numbers

[2018-07-22 01:00] terryyin commented on #233
Hi George,

Thanks for sharing the code. Yes, just as I mentioned previously, it’s because of the preprocessor directives.

I started Lizard when I was working in Nokia in my spare time, to replace a commercial tool we were using. And it was called HFCCA — Header Free Cyclomatic Complexity Analyzer. It doesn’t depend the header file, and just treat header files as source code. Therefore it cannot

[2018-07-22 04:48] terryyin commented on #232
Hi Mr.灰太狼,

Thanks! I found the problem. In the XML the average include source code that is not in any function. I will change it to the same as text output.

Terry

[2018-07-22 06:56] raatiniemi commented on #230
@terryyin Yes, I believe you can close this issue since this should be fixed in the SonarQube plugin.

[2018-07-22 22:09] terryyin commented on #232
OK. Fixed and a new release is created.

[2018-07-22 22:09] #232 closed

[2018-07-23 00:20] rakhimov opened #234 "Bug: Printer interface failure for warnings"
[code]

[2018-07-23 04:03] terryyin commented on #234
Oops, sorry! Fixed.

[2018-07-23 04:03] #234 closed

[2018-07-23 15:14] geoland1st commented on #233
Hi Terry,

Thanks for looking into this for me. It looks like we have our answer then as to why there are differences.

Take care,

George

From: Terry Yin <notifications@github.com>
Sent: Saturday, July 21, 2018 18:01
To: terryyin/lizard <lizard@noreply.github.com>
Cc: Anderson, George <ganderson@spectrumcontrols.com>; Mention <mention@noreply.github.com>
Subject: Re: [terryyin/lizard] McCabe num

[2018-07-25 18:29] davidlange6 opened #235 "Problems to install 1.15.5 from source"
Hi

While trying to install lizard 1.15.5 from source (downloaded from pypi) I run into

[dlange@cmsdev14 lizard-1.15.3]$ python setup.py install --install-dir=$PWD/../lt1
Traceback (most recent call last):
  File "setup.py", line 17, in <module>
    with codecs.open(changes, encoding='utf-8') as changes:
  File "/usr/lib64/python2.6/codecs.py", line 881, in open
    file = __builtin__.open(filena

[2018-07-25 22:37] #230 closed

[2018-07-25 22:48] terryyin commented on #235
@davidlange6 oh, I've never tried to download from pypi and install from source.

I've created a new package 1.15.6. Could you please try again?

[2018-07-26 11:14] davidlange6 commented on #235
Thanks - I confirm this works.

[2018-07-26 11:14] #235 closed

[2018-08-01 09:48] sak96 opened #236 "Count nested control structures gives weird output for python 3"
For python the nested control structure stack up until a "}" structure is found.  had trouble figuring out the issue. This may be because the structure for end of function is marked by "}" in case of C, C++, JAVA, whereas indentation in case of python

for the following code (filename give as comment)
[code]

[code]
the output was:
[code]

[2018-08-03 04:25] terryyin commented on #236
This is a bug. Will find some time to fix it.

[2018-08-14 08:05] gucj opened #237 "what's meaning of token count of functions??"
what's meaning of  token count of functions?
Can you show an example?

[2018-08-14 13:18] terryyin commented on #237
Token is the word and operators, etc.

For example: `if (abc % 3 != 0)`
Has `[‘if’, ‘(‘, ‘abc’, ‘%’, ‘3’, ‘!=‘, ‘0’, ‘)’]` 8 tokens.

[2018-08-15 02:12] gucj commented on #237
OK  thanks~

[2018-08-15 02:12] #237 closed

[2018-08-25 12:17] omaskery opened #238 "exclusion patterns are sensitive to current working directory"
Hello!

I hope this is formatted acceptably, I've tried to provide context, observed & expected behaviours, possible solutions and a workaround I _can_ use but would like to avoid.

Please let me know if I must provide any further information. If you like any of my proposed approaches I think I would be able to put together a pull request if that helps :)

# Background Context

I'm currently writi

[2018-08-25 22:33] omaskery commented on #238
PS, in case it's useful for additional context, I've now made the script I'm working on [available here](https://github.com/omaskery/lizard-monitor).

Within that file: the [`analyse_repo()` function](https://github.com/omaskery/lizard-monitor/blob/master/lizard-mon.py#L74) calls into lizard [on this line in particular](https://github.com/omaskery/lizard-monitor/blob/master/lizard-mon.py#L93). Not

[2018-08-26 08:38] terryyin commented on #238
Hi Oliver,

Thanks for your proposal. Just landed at Tokyo after 7h of flight. Let me get to the details a bit later.

[2018-08-26 11:26] omaskery commented on #238
Not a problem, not in a rush, hope you had a good flight :)!

[2018-10-23 03:33] Coeur opened #240 "Incorrect behavior when a variable named `get` is used in Swift"
I have the following Swift file, but lizard (master branch at b631dfd3561366539633a7279f755e237541f3bf) believes it is one single giant getter:

[code]

lizard output:
[code]

[2018-10-23 03:52] Coeur commented on #240
It seems that the culprit is https://github.com/terryyin/lizard/blob/master/lizard_languages/swift.py#L35:

        if token in ('get', 'set', 'deinit'):
            self.context.start_new_function(token)
            self._state = self._expect_function_impl

Note that it is correct Python code for Swift situations like:

    var hello {
        get { return "hello" }
        set {}
    }

But in t

[2018-10-23 06:09] terryyin commented on #240
Hi Antoine,

Thanks! In training this week so the fix will come a bit late. Is it possible to have a pull request from you?

Sent from my iPhone

[2018-10-23 11:15] Coeur commented on #240
@terryyin Ah ah, I was fearing that. OK, I'll do a pull request, but I don't know how to run unit tests from command line (I only know `python lizard.py files`). So it's likely that I'll break something.

[2018-10-24 02:32] Coeur commented on #240
OK, I figured out how to run the tests locally:

pip install --upgrade pip

pip install pytest
pip install mock
make

pip install pylint
make pylint

[2018-10-25 23:40] terryyin commented on #240
Glad to see you solve this. I still have yet another day of training...

[2018-10-26 08:11] Coeur commented on #231
@terryyin it would be nice to fix that one, because travis reports are failing since around May 14: https://github.com/terryyin/lizard/commit/de9d838d2e187673fc4f9573ad3b5033994dfe97#comments

[2018-10-31 13:42] rbhip opened #245 "Maintainibility index"
Hi Terry, I am trying to look for a tool that can calculate Maintainability Index for C++ code. I found this via google search.
https://sourceforge.net/projects/maintainabilityindex/

This seems to based on lizard.

Does the original Lizard tool support Maintainability index ??

[2018-11-01 09:56] terryyin commented on #245
Not yet, as I haven't got time to reply and accept pull request form this author:-)

[2018-11-02 18:12] baffles commented on #210
Is there a fix for this planned? Running on a single thread is a less than desireable workaround.

[2018-11-03 03:39] terryyin commented on #210
Will look at this before the end of this week. During my 7 hours flight probably.

[2018-11-04 04:34] #240 closed

[2018-11-27 12:57] rbhip commented on #245
Hi Terry, one more Question. Is it possible to run lizard on Linux machines? I gues the Code Needs to be recompiled??

[2018-12-10 07:15] terryyin commented on #245
OMG, it has been 13 days...

Of course you can run it on Linux machine. Just get the source or `pip install lizard`. No need to compile.

[2018-12-20 23:30] thyag2904 opened #246 "install-dir option not being recognized"
Command I ran:
`python setup.py install --install-dir=/local/mnt/workspace/sw/lizard/lizard-tool`

Error:
_usage: setup.py [global_opts] cmd1 [cmd1_opts] [cmd2 [cmd2_opts] ...]
   or: setup.py --help [cmd1 cmd2 ...]
   or: setup.py --help-commands
   or: setup.py cmd --help

error: option --install-dir not recognized_

[2018-12-21 02:16] terryyin commented on #246
It seems "--install-dir" is an option of easy_install.

And according to https://stackoverflow.com/questions/24745852/how-to-use-setuptools-to-install-in-a-custom-directory

The equivalent is:

`python setup.py install --install-lib /src/lib/`

[2018-12-22 22:37] HerbHunter opened #247 "Bug: --warning-msvs: Option not working"
**Command**
`$ lizard --warning-msvs *.cpp`

**Console output**
[code]

**Details**
I thing that bug is on line _833_. Function `print_msvs_style_warning(code_infos, option, scheme)` missing last argument named '_' in defaultly called function `print_clang_style_warning(code_infos, option, scheme, _)`.

[2019-01-09 08:46] terryyin commented on #247
@HerbHunter thanks for the reporting and finding. This is fixed in a new release.

[2019-01-09 08:46] #247 closed

[2019-01-18 09:32] alexovod opened #249 "Failed do detect code duplicate inside switch block"
I noticed that lizard failed to detect code duplicate that I had inside switch block

for example:

void switchWithDuplicates()
{
    int i = 50;
    int j = 500;

    int value = minimum(10000, 2000, 3, 405, i, 550, 7, 5000, 200);

    switch(value)
    {
        case 50:
        {
            if(j > i)
            {
                doSomethingWith(i,j);
            } else
            {

[2019-01-22 09:24] ishepard opened #250 "Fail to calculate fan_in and fan_out"
I am having problems in calculating `fan_in` and `fan_out` of the methods. I tried different languages, different approaches (analyze recursively a directory, analyze only one file, etc.), but the result is always the same: `fan_in` and `fan_out` = 0.

What am I doing wrong?

This is the code I am using:
[code]
the output is always 0.

[2019-01-22 09:38] terryyin commented on #250
The fan_in/out feature is an extension of Lizard, and I think at this moment it’s not working.

[2019-01-31 11:59] avancinirodrigo opened #251 "support Lua"
Hello,

Thank you for this good job.

It would be great if it were added support for Lua language (https://www.lua.org).
Is it possible?

Thanks!

[2019-02-01 14:50] benolayinka opened #252 "Extending CodeReader combined symbols for bit shift operations"
I'm trying to add bit shift and assign operations to the list of combined symbols in CodeReader, namely

I added them to the list of combined symbols in CodeReader, but when I print the list of tokens, instances of >>= appear as '>>', '='

The regex is a bit over my head as is, do you have any suspicion why this isn't working?

[2019-02-02 10:13] terryyin commented on #252
Have you tried to change the order of these symbols in the regex? If a “=“ is before “<<=“, the later one will never match.

[2019-02-02 12:57] terryyin commented on #251
Should be easy. Let me try.

[2019-02-02 19:04] benolayinka commented on #252
Yep, I added >>= and <<= to the beginning of the list. I also tried removing other tokens from the list and it didn't seem to affect the tokenization. With the list unmodified, I would expect '>>=' to be tokenized as '>' and '>=' since you have '>=' as a token, but that is also not happening.

[2019-02-03 01:01] terryyin commented on #252
Do you have a fork or somewhere I can see the code?

[2019-02-04 09:10] benolayinka commented on #252
I pushed my fork, [here's ](https://github.com/benolayinka/lizard/commit/4784fcda45b2299d16a7bf71edbcd8db2160e00d#diff-c34d2ca653e2b9d4862b3f159389f78b) the commit history. I added ">>=" as the first symbol in the "combined_symbols" list in code_reader.py.

In lizard.py, I also attach the tokens to the FileInfo object in your analyze_source_code function so I can see it in the console.

[code]

Fr

[2019-02-06 07:02] terryyin commented on #252
I tried your code, seems it works fine. Did you import your local copy of lizard or imported the globally installed one?

[2019-02-06 16:16] benolayinka commented on #252
It's working for me now too. I think that reload wasn't actually reloading the module, I'm not sure why. I appreciate your help, your tool is fantastic.

[2019-02-08 16:26] #252 closed

[2019-02-09 09:38] terryyin commented on #251
I've added the support for Lua in the code and also create a pip install release. Could you please try it?

[2019-02-09 18:50] hgn commented on #250
Yes, it is not working yet. I realized that too. ;-) Beside this: thank you @terryyin for lizard and the effort in developing that tool!

[2019-02-10 18:55] avancinirodrigo commented on #251
Thank you so much for doing that.
I don't know if it is working as expected.
I've tried to get the function names in the attached file below and the result is this:
[code]

[Cell.txt](https://github.com/terryyin/lizard/files/2849232/Cell.txt) --> change extension to .lua

[2019-02-11 11:49] ishepard opened #253 "Latest release made it considerably slower"
Hi @terryyin,
thank you for the tool, very cool and useful!

I have a small remark though: with the latest release, the tool became considerably slower. As a test, I called `lizard.analyze_file.analyze_source_code()` on 3910 files, and these are the statistics:

[code]

As you can see, we moved from 2 minutes to 24 😕

Not an urgent problem, I am gonna stick with Lizard==1.15.7, but just to let you

[2019-02-11 12:30] terryyin commented on #253
Well, that is not acceptable. Thanks for letting me know. I will revert and make a new version and then test the new feature again before releasing.

[2019-02-11 12:37] terryyin commented on #253
It will be great if you can confirm that 1.16.2 has restore the speed.

[2019-02-11 12:49] ishepard commented on #253
Mmm nope the problem seems to be still there.

[2019-02-11 12:56] ishepard commented on #253
As an example, I downloaded this file: https://raw.githubusercontent.com/google/jsonnet/master/cmd/jsonnet.cpp

and then:
[code]
[code]

As you can see, 8 seconds instead of 0.08

[2019-02-11 14:04] terryyin commented on #253
OK. Got the culprit (from a pull request), which is a piece of low performance Regex. Fixed.

[2019-02-11 14:12] ishepard commented on #253
Yes I can confirm it, the problem has been fixed! Thank you for your fast replies 😄

[2019-02-11 23:58] terryyin commented on #253
Thanks again for reporting this.

[2019-02-11 23:58] #253 closed

[2019-02-17 02:20] elmotec opened #254 "underestimating max depth when statements are found in the if block"
Hello,

I see an issue with `max_nested_depth` that I reproduced in the following test case:
[code]
`result[0].max_nesting_depth` is 1 instead of 2 so this test should fail if you add it to testNestingDepth.py.

Note that without the `b;` statement, I get `max_nesting_depth` 2 which I is correct but I don't believe `b;` should impact the nesting depth.

[2019-02-17 12:41] terryyin commented on #254
hmm, thanks for the re part and test. I will look into it. The nested structure implementation is mostly from a pull request and right now not functioning as expected.

[2019-02-17 15:13] elmotec commented on #254
I think I have an angle on it, I should have a fix today.

The only thing is that right now, I break the "ignoring explicit forever loop" which is illustrated by the following test case:
[code]
I am not sure why `for (;;)` deserves a special treatment. What's your take on it?

[2019-02-19 02:09] datomnurdin commented on #158
any solution so far?

[2019-02-19 13:51] terryyin commented on #158
It’s certainly on my todo list with high priority.

[2019-02-23 04:35] #254 closed

[2019-03-07 13:20] apmanol opened #258 "xml report for duplication"
Hello all,

thanks for providing this great tool.

Is there any way to report the duplication code results in some `xml` report in order to display it in jenkins?

[2019-03-09 00:35] elmotec commented on #254
@terryyin, just realized that the PR #257 had not been merged. Only the fixes to the test suite. What's the next move?

[2019-03-09 07:23] terryyin commented on #254
Just merged it. Sorry for the delay.

[2019-03-09 07:28] terryyin commented on #258
the duplication detector is not completed yet:-)

[2019-03-09 13:47] hgn opened #259 "Module Usage (lizard.analyze_file()) and "--modified" Option"
Hello @terryyin, one short question: I want to call `analyze_file()` with the same behavior as I call it as an executable `lizard --modified <path>`. In fact: the switch/case counting is somehow braindead for software quality, so I don't want to count it.

I grepped over the source code but didn't find a way to specify the flag. Any ideas?

Best regards!

[2019-03-11 12:26] elmotec commented on #254
No worries. Thank you for Lizard!

[2019-03-13 09:41] salmojunior opened #260 "Exclude multiple path"
What is the pattern to user `--exclude` for multiple path? I've trying many examples but none of them works.

[2019-03-13 13:14] terryyin commented on #260
You ca use —exclude or -X multiple times in a commend.

[2019-03-13 13:50] salmojunior commented on #260
It doesn't work. Actually the command runs but when I check the report file it contains results from all files, not even excluding the first `--exclude` argument which is working when added alone.

[2019-03-13 22:22] terryyin commented on #260
Can you show me your command?

[2019-03-14 08:15] salmojunior commented on #260
Hi @terryyin,

Thanks helping me. This command works:
`lizard ./Source -l swift --xml > ./reports/lizard-report.xml --exclude './Pods/*' --exclude './Pods/*'`

but if I try to add a new `--exclude` argument like below example it stops ignoring even Pods folder.

`lizard ./Source -l swift --xml > ./reports/lizard-report.xml --exclude './Pods/*' --exclude './Pods/*' --exclude './CodeGenerated/*'`

[2019-03-16 03:23] terryyin commented on #260
I checked the code and experimented a bit on my side. It seems working fine.

Perhaps the patterns you are using doesn’t match the folder since ‘./‘ is more current folder, but you are analysing ‘./Scoure’ folder only. Try changing . To *. The pattern matching use this function:
https://docs.python.org/3.4/library/fnmatch.html

[2019-03-16 03:29] terryyin commented on #259
Sorry for the late reply.

Try this:
[code]

Then use the analyse_file function. The modified part is implemented in an extension. Sorry, it’s not extremely obvious from the source code.

[2019-03-18 09:57] salmojunior commented on #260
it worked :)

Thanks a lot @terryyin

[2019-03-18 09:57] #260 closed

[2019-03-22 08:57] MoShenGuo opened #261 "Perform error"
![image](https://user-images.githubusercontent.com/21171688/54811328-677ba180-4cc3-11e9-8e1b-8db5c92da428.png)
Hello, according to the steps you said error, what reason be?

[2019-03-22 08:59] MoShenGuo commented on #261
lizard mySource/ -x"./tests/*"
hello,Execute the commands, it should be behind the correct statistical problems

[2019-03-23 02:29] terryyin commented on #261
I think the order of the path and options doesn't matter.

It seems you have none ascii characters in either for function name or file name. Is that the case? Which version of Python are you using?

(你写中文我也能看懂)

[2019-03-25 12:28] MoShenGuo commented on #261
Python version is 2.7

[2019-03-26 08:08] iccen8 commented on #222
Since Kotlin is getting more and more popular in Android development (official android development language), Kotlin support for Lizard will be necessary.
Hope to see Kotlin's support soon :D

[2019-03-26 08:16] iccengan opened #262 "When did lizard support golang?"
In the beginning, the supporting languages listed in README did not include "golang". But now I see "golang" in the supporting language list.
We started to use lizard in March 2018, and we have never upgraded it since then. So I am wondering whether the version we currently use supports "golang"?

[2019-03-26 14:34] fastfrwrd opened #263 "TypeScript support"
Such a great project! Wondering what the LOE would be to support TypeScript alongside JavaScript, as TypeScript usage increases across the industry.

[2019-03-30 14:03] terryyin commented on #262
It should. I use golang myself a bit also, but do not know the language so well. So let me know if there’s anything that doesn’t add up:-)

[2019-03-31 08:35] terryyin commented on #261
Python 2.7 doesn't handle utf file names well.

[2019-04-02 09:52] iccen8 commented on #262
Sure!
And I am wondering whether lizard will support kotlin some day?

[2019-04-02 13:57] avancinirodrigo commented on #251
@terryyin is there some news?

[2019-04-03 14:05] terryyin commented on #262
Kotlin is on my list, after Lua, TypeScript.

[2019-04-03 14:06] iccen8 commented on #262
cool!

[2019-04-23 06:55] cyw3 commented on #210
It does not work with "--working_threads" in lizard 1.16.3
and crash:
`
$ python3 lizard.py -l ruby -t 3 /Users/xxx/Desktop/Test/ruby/rubyTest

================================================
  NLOC    CCN   token  PARAM  length  location
------------------------------------------------
Exception in thread Thread-3:
Traceback (most recent call last):
  File "/Users/xxx/.pyenv/versions/3.7.0/lib/p

[2019-04-23 22:45] terryyin commented on #210
Let me see… Perhaps I can fix this without trying to be compatible with Python2.

Ruby syntax is hard for one time parsing to understand everything.

[2019-05-11 23:02] juli1 opened #264 "Scala parsing issue"
There is an error when processing Scala code. In fact, code related to play/slick is being incorrect.

For example, class fields declared like this `def id = column[Long]("id", O.PrimaryKey, O.AutoInc)` are interpreted as functions and not as class fields. This type of pattern is heavily used in play/slick.

As a result, the number of functions/class fields are not reported correctly.

How to repr

[2019-06-29 05:29] kijuky opened #265 "Swift: `for` label name count by ccn"
This code's ccn is 1, but lizard output 2.

[code]

I think that lizard count `for` label name. So I want that lizard ignore `for` label name when counting ccn.

[2019-06-29 05:41] kijuky opened #267 "Swift: guard clause is not counted by ccn"
This code's ccn is 2, but lizard output 1.

[code]

This code is equal `if isValid { return }`, so I want that lizard output 2.

[2019-06-29 12:37] kijuky opened #269 "Swift: nil coalescing operator `??` measuring by mistake"
I feel that `??` is being measured incorrectly in some cases.

### Case 1
[code]
I think ccn is 2. The reason is that it is equivalent to the following code, and one control code (`if`) is included.
[code]

### Case 2
[code]
I think ccn is 2. The reason is that it is equivalent to the following code, and one control code (`if`) is included.
[code]

### Case 3
[code]
I think ccn is 3. The reason is

[2019-06-30 01:29] terryyin commented on #267
Yes, I think this should be counted. Would you make the change? Just add a test and make it pass. Otherwise I can fix this by next week.

[2019-06-30 01:30] terryyin commented on #265
Yes, this probably can be fixed by ignoring "for:"?

[2019-06-30 01:35] terryyin commented on #269
I would count the Case 1 as ccn 2, too.

But in the case of 2 and 3, I think it will be  quite hard for Lizard to identify the redundancy of `~?.value ?? ~` in a smart way. Unless we just ignore the sequence `?.value ??`?

[2019-06-30 01:36] terryyin commented on #269
or just count `?.value ??` as +1 ccn only.

[2019-06-30 02:19] kijuky commented on #265
Thank you for your comment!

I tried resolve the issue by PR #265. I have some questions about my solution.

- The right of renaming `for` to `_for`
- The CI will fail anyway by timeout.

...Should I talk in PR #265 ?

[2019-06-30 02:26] kijuky commented on #267
Thank you for your comment!

I tried to create PR #268 referring to the implementation of parser of other languages.

[2019-06-30 02:38] kijuky commented on #269
Thank you for your comment!

I think implementing case 2 and case 3 with lizard would be a big fix.

So I want to confirm lizard's policy. Should it be measured accurately even if the processing becomes complicated to some extent? (However, I believe that the only change will be swift.py.) Is this case accurate to measure?

[2019-06-30 13:22] kijuky commented on #269
I found a case where the lizard parser had limitations...

## Case 2-1
[code]

I think ccn is 3. The reason is that it is equivalent to the following code, and two control code (`if`) is included.

[code]

Comparing Case 2 and Case 2-1, CCN differs depending on whether the last value is optional or not for expressions including unwrapping. However, lizard can not detect this.

[2019-06-30 13:26] kijuky commented on #269
I believe that the consent for Case 1 has been obtained. So I want to add `??` to `_conditions`.

[2019-07-06 13:50] kijuky commented on #269
I'm sorry. I was misunderstood.

In Swift, CCN does not increase because `?` And `??` are method calls.

This issue is closed.

[2019-07-06 13:50] #269 closed

[2019-07-11 02:46] iccengan opened #270 "[Objective-C]CCN wrongly reported on an "if" statement instead of a function"
I assume lizard should only report functions. But in the below case, if statement is detected.
`// #lizard forgives` is not working for `testFun()`, unless I put this comment right before the `if (testVar2)` or inside `if (testVar2)`.

Command I ran:
`python lizard.py test_ccn.mm -w -C 9 -L 100000`

Result I got:
`test_ccn.mm->if->if( testVar2)->10-35->             26->10->{32, 14, 15, 19, 20, 21,

[2019-07-19 08:26] TTRh opened #271 "template.html is not found in package"
Looks like there is something wrong with the setup.py config about template.html it's not in the package at the end:

[code]

[2019-07-19 10:08] cyw3 commented on #222
Hope to see Kotlin's support soon.

[2019-07-20 04:17] terryyin commented on #222
Let me learn Kotlin first...

[2019-07-22 07:24] alice0706 opened #272 "C cannot find functions in file"
when I add this in my s.c file : const unsigned long RESET_REQ_MSG_TYPE = ASN1V_MECS_id_reset +
        (T_TMECS_MECS_PDU_initiatingMessage << ASSEMBLE_MSGID_OFFSET);
lizard analyze output is
lizard -l c
================================================
  NLOC    CCN   token  PARAM  length  location
------------------------------------------------
1 file analyzed.
==================================

[2019-07-22 08:18] #272 closed

[2019-07-23 01:53] liaogz82 commented on #222
as I have said before Kotlin is very similar to swift. Just think like swift and you will get there easily

[2019-08-23 02:18] #265 closed

[2019-08-24 08:42] kijuky commented on #265
Thank you for merging! This issue closed!

[2019-08-24 08:43] kijuky commented on #267
Thank you for merging! This issue closed!

[2019-08-24 08:43] #267 closed

[2019-10-17 13:53] k0nserv opened #274 "NLOC is 0 for FileInformation after calling `analyze`"
Hey 👋,

I've been trying to write a script that uses lizard to analyze some Objective-C code and while CCN seems to be working `NLOC` is always zero for me, but invoking lizard via the CLI or using `analyze_file` reports accurate numbers.

Here's the code I have

[code]

Is this a bug or am I making a really simple mistake here?

<details>
<summary>
Environment
</summary>

**Python:** 3.7.4

**pip

[2019-10-18 07:43] FrancescElies commented on #274
I am not sure but I am facing I believe a similar problem, maybe caused by the same issue.

If I download following c file [lz4_decompress.c](https://raw.githubusercontent.com/torvalds/linux/master/lib/lz4/lz4_decompress.c)
and run the following command.
[code]

Exit code is always 0, but in the html output I see parts of the code with a higher CCN.

I printed the warning_count in [here](https://m

[2019-10-21 10:15] dhanush commented on #158
Any update on this?

[2019-10-22 07:24] FrancescElies opened #275 "Object's printable representation (__repr__)"
When debugging and printing objects of the type `FileInformation` and `FunctionInfo` you get `<lizard.FileInformation object at 0x000002340BA81828>` and `<lizard.FunctionInfo object at 0x000001F846AB34E0>` respectively.

To solve this we could:
- Implement `__repr__` methods
- Use [dataclasses](https://docs.python.org/3/library/dataclasses.html) but this would require to drop support for older pyt

[2019-10-23 08:01] terryyin commented on #275
Could please send a pull request?

[2019-10-23 08:17] FrancescElies commented on #275
Before doing so, I would like to agree on the approach first.

1. implement `__repr__` on our own
2. use dataclasses and dropping support for older python versions
3. use attrs

Would you have any preferences?

[2019-10-23 08:20] terryyin commented on #275
I think 1 or 3. I would choose 3 if it’s compatible with the current code.

[2019-12-19 11:24] marco-c opened #277 "github.io page is outdated"
E.g. the list of supported languages is much shorter. I would suggest just dropping the page and make it redirect to the repository itself (like http://www.lizard.ws/ does).

[2019-12-19 11:25] marco-c opened #278 "Support Rust"
It would be nice if lizard supported Rust.

[2019-12-22 00:41] terryyin commented on #278
Yeah, I’m looking forward to adding support fr Rust and ES6 this holiday.

[2019-12-24 11:52] terryyin commented on #158
ES6 support added!

[2019-12-24 11:52] #158 closed

[2019-12-24 11:54] terryyin commented on #216
I've added ES6. Hopefully, I can add JSX soon.

[2019-12-31 12:11] tobias-klein opened #279 "nloc warnings not highlighted in html output"
When using the html output with a command like
`lizard -H -Tnloc=50 -Tcyclomatic_complexity=10`
the **nloc threshold warnings are not highlighted in the output**, but only the cyclomatic complexity warnings. This has been tested based on the latest revision from master (`fe1f65046dd26ffebb08de7cf544c146e566862c`).

[2020-01-01 09:46] terryyin commented on #278
I've added support for Rust. Could you please try it a bit? Or can you give me a few example projects to test?

[2020-01-01 10:03] terryyin commented on #279
Thanks for reporting. The bug is fixed.

[2020-01-01 10:03] #279 closed

[2020-01-01 10:19] terryyin commented on #277
where can I find the GitHub.io page?

[2020-01-01 10:20] terryyin commented on #216
Done. JSX added

[2020-01-01 10:20] #216 closed

[2020-01-01 14:40] marco-c commented on #277
https://terryyin.github.io/lizard/, it's created automatically from the gh-pages branch of your repository (https://github.com/terryyin/lizard/tree/gh-pages).

[2020-01-02 01:41] terryyin commented on #277
Thanks. Now the memory comes back:-) I will update it as your advice.

[2020-01-02 01:47] #277 closed

[2020-01-02 10:02] terryyin commented on #274
@k0nserv sorry for the super late reply.

The api you used `analyze` didn't have the default extension list. Everything in lizard is counted using an `extension`. `get_extensions([])` will get the basic list of extensions.

Now I've added it as default if no `exts` are provided. So your code should work fine now.

@FrancescElies I believe you were having a different problem, which is also fixed no

[2020-01-02 10:02] #274 closed

[2020-01-03 01:34] terryyin commented on #271
Sorry for the super late reply. This is now fixed as I've moved the template to an internal string.

[2020-01-03 01:34] #271 closed

[2020-01-03 01:50] terryyin commented on #270
Sorry for the super late reply. Lizard shouldn't report `if` as a function any more. So this seems to work fine for me now. BTW, `// #lizard forgives` does not work in a nested way. It will ignore the current or next function.

[2020-01-03 01:50] #270 closed

[2020-01-03 08:54] wasilukm opened #280 "Version 1.17.1 does not install"
I'm getting an exception while installing 1.17.1 via pip on Python 2.7
`Building wheels for collected packages: lizard
  Running setup.py bdist_wheel for lizard ... error
  Complete output from command c:\python27\python.exe -u -c "import setuptools, tokenize;__file__='c:\\users\\mwasilu\\appdata\\local\\temp\\pip-install-ycdr02\\lizard\\setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f

[2020-01-03 10:12] vilvo commented on #280
I resolved this in the meanwhile with
`git clone https://github.com/terryyin/lizard.git`
`cd lizard`
`git checkout 1.17.0`
`python -m pip install .`

[2020-01-03 10:49] terryyin commented on #280
Oops, sorry. Fixed.

[2020-01-03 10:49] #280 closed

[2020-01-03 15:51] marco-c commented on #278
Here are a few example projects:
https://github.com/mozilla/grcov
https://github.com/mozilla/rust-parsepatch
https://github.com/mozilla/dump_syms
https://github.com/serde-rs/serde
https://github.com/rust-lang-nursery/lazy-static.rs
https://github.com/dtolnay/syn
https://github.com/rust-random/rand
https://github.com/rust-lang/libc

[2020-01-05 05:53] terryyin commented on #264
Sorry for the super late reply. The Scala support was from a pull request and the implementation wasn't complete. I've improved it to make the support more serious now.

[2020-01-05 05:53] #264 closed

[2020-01-05 05:54] terryyin commented on #262
Golang is already in the list

[2020-01-05 05:54] #262 closed

[2020-01-05 06:01] terryyin commented on #278
ok. I've tested a couple from your list. Looks fine to me. Thanks!

[2020-01-05 06:01] #278 closed

[2020-01-05 06:02] #261 closed

[2020-01-05 06:02] #259 closed

[2020-01-05 09:02] terryyin commented on #251
sorry for the super late reply. This is working now.

[2020-01-05 09:02] #251 closed

[2020-01-05 09:47] #141 closed

[2020-01-05 09:48] #200 closed

[2020-01-06 16:44] k0nserv commented on #274
Thanks @terryyin :)

[2020-02-13 00:20] avancinirodrigo commented on #251
Thank you @terryyin.

Unfortunately, the problem has not been solved.

I think that it is not working because the functions are within a table.

Could you check that?

My test:
[code]
Output:
[code]

[2020-02-17 13:56] pierreuuuuu opened #281 "Cpp NCSS Jenkins plugin: issue when publish the report file"
Hello,

I have the aim to display cyclomatic complexity on the Jenkins dashboard.
So I tried the tool, and generate the xml file. On jenkins, I tried to display the report using "Cpp NCSS Report" plugin on Jenkins,  but I have the following error:
![image](https://user-images.githubusercontent.com/46693934/74659556-dd6ae000-5194-11ea-9bcb-8906d5921cc6.png)

The first lines of the report file look

[2020-02-23 13:47] abdallah-eltamaly opened #282 "MemoryError"
Hello,

I am trying to run hub on a file of size 193 MB and I am getting a memory error like that. Knowing that smaller sizes are working fine.

Traceback (most recent call last):
  File "c:\python34\lib\runpy.py", line 170, in _run_module_as_main
    "__main__", mod_spec)
  File "c:\python34\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "C:\Python34\Scripts\lizard.exe\__

[2020-03-30 01:58] raphaelsoul opened #283 "--exclude option does not work as expect"
On my case. The option "exclude" doesn't work as expect

my command :
[code]

the output of console displaying some check result in node_modules. And finally throw an `RuntimeError: maximum recursion depth exceeded`, because of the directory depth of node_modules directory.😆

Any usage of `--exclude` options does not works as well.
I am working with git commit hash `9976dcc0afdb39221a40f6187c1af9e

[2020-04-23 04:35] terryyin commented on #283
--exclude uses Python file match patterns (https://docs.python.org/3.8/library/glob.html)
So I think in this case you should use
[code]

[2020-04-23 04:35] #283 closed

[2020-04-23 04:37] terryyin commented on #282
@abdallah-eltamaly is it possible to share this file?

[2020-04-28 12:00] szubersk opened #284 "lizard hangs on Ruby code when using multiple threads"

[2020-04-30 01:24] terryyin commented on #284
Will take a look asap.

[2020-05-03 04:17] terryyin commented on #284
Yes, now I recall that Ruby parser has trouble with multiple thread.
Ruby claims to be a language that makes the developers happy, I guess which in turn makes the parsing harder.

Let me see if I can fix this...

[2020-05-06 07:42] cyw3 opened #285 "Fail to recognize the java anonymous class"
Lizard can not recognize the anonymous class very well, and then adds the cyclomatic complexity of all functions in the anonymous class and calculates it in the cyclomatic complexity of the function where the anonymous class is located.

I think this is inaccurate.

For example, here is a demo java:
[code]
output is:
15,3,66,0,17,"Demo::test@4-20@/xxx/Demo.java","/xxx/Demo.java","Demo::test","Demo

[2020-05-06 08:08] cyw3 opened #286 "Fail to recognize the function in .mm file"
[code]

output is:
2,1,11,1,3,"if@18-20@/xxx/demo.mm","/xxx/demo.mm","if","if( self = [ super init ])",18,20

So My problems are:

1. Lizard fail to scan mm files' function?

2. "if@18-20@/xxx/demo.mm" is not a function.

[2020-05-06 08:19] cyw3 opened #287 "Fail to scan .m files with "typedef void" function"
[code]

output is:
[code]

1. the function name is wrong;
2. lizard can not scan all the function. just the first function.

And if I remove the "typedef void (*componentEventFunc)(id, SEL, NSDictionary *, id);" from the code file, lizard works and output is:
[code]

[2020-06-12 00:59] renanalan opened #288 "Export xml"
When running lizard without parameters, everything works fine.
When using **lizard -X > output.xml** option, it says:
Traceback (most recent call last):
  File "/usr/local/bin/lizard", line 9, in <module>
    load_entry_point('lizard==1.17.3', 'console_scripts', 'lizard')()
  File "build/bdist.macosx-10.14-intel/egg/lizard.py", line 1035, in main
  File "build/bdist.macosx-10.14-intel/egg/lizard_e

[2020-06-26 11:47] trouvant opened #290 "Misinterprets parameter default value as parameter identifier"
Analysis of a python file containing, for instance, the function
[code]
yields a `FunctionInfo` object with field `parameters: ['lorem', '14', 'None']` rather than the expected `parameters: ['lorem', 'ipsum', 'dolor']`. This occurs across languages.

[2020-06-27 02:49] terryyin commented on #290
I see. Trying to fix...

[2020-06-27 03:23] terryyin commented on #290
OK. This is fixed. Thanks for reporting!

[2020-06-27 03:23] #290 closed

[2020-06-29 21:02] trouvant opened #292 "Incorrect nloc for Python function declarations spanning multiple lines"
For example, analysis of the following function
[code]
yields `nloc: 2`.

[code]
yields `nloc: 3`.

I've tested both Python and C++, but it seems specific to Python.

[2020-07-02 11:45] ECNUwyzZL commented on #200
cry...why not support json?

[2020-07-10 05:06] cyw3 opened #293 "RecursionError: maximum recursion depth exceeded"
Lizard 1.17.5
Python 3.7.0

When I want to update lizard 1.16.3 to lizard 1.17.5, I get a error:

[code]

[code]

And when use Lizard 1.16.3 to scan the same project, it works.

[2020-07-15 08:41] cyw3 commented on #293
the test case is the index.js of prettier@2.0.5

![image](https://user-images.githubusercontent.com/11549103/87523771-f03cfe80-c6b9-11ea-8992-da0167b644ba.png)

[2020-07-16 01:33] terryyin commented on #293
Hi,

Sorry for the long waiting. I will be on a work break next week and will fix this then.

Terry

[2020-07-17 12:52] cyw3 opened #294 "Wrong to scan .ts file"
python3.7.0
lizard 1.17.5

$ python lizard.py --csv --sort cyclomatic_complexity --CCN 20 --working_threads 8 -l typescript test.ts

And output nothing.

[code]

[2020-07-27 13:29] Altyrost opened #295 "C/C++: Problem when using aggregate init and double"
Example:
[code]

Found func count : 1, name "foo.bar"

[2020-07-28 08:15] cyw3 opened #296 "Wrong to recognize ? in .go file"
when i use lizard 1.17.5 to scan a go file below, and ccn is 10 but it should be 1:

[code]

lizard recognize ? as a ternary operator, and add 1.

[2020-08-05 03:30] cyw3 commented on #296
![image](https://user-images.githubusercontent.com/11549103/89368829-08c79400-d70f-11ea-9ac2-7f98c3b6aaf6.png)

[2020-08-05 04:06] terryyin commented on #296
Noted. thanks. Will try to fix it soon.

[2020-08-05 04:12] cyw3 opened #297 "Wrong to scan go func with anonymous function"
The existence of anonymous functions in function testCCN will cause function testCCN to be unrecognized and the cyclomatic complexity will be ignored.

[code]

[2020-08-13 08:21] sthagen commented on #292
@trouvant the second example given really has three lines of code, right? Three print statements ...

[2020-08-20 05:49] anhkhoi commented on #288
the same issue for me

[2020-08-26 07:23] shaikh-mansurali commented on #293
We are also facing same issue.

[2020-09-22 03:09] cyw3 opened #302 "Underreport a js function"
when i scan the file below with lizard 1.17.5, render() can not be reported.
[code]
output:
[code]

And when remove the line of ` {this.renderHistoryBorder()}`:
[code]
output:
[code]

[2020-10-19 07:03] kingsword commented on #286
I ran into the same problem. any solution？

[2020-10-20 08:24] terryyin commented on #286
Hi @cyw3, sorry for the slow response.

@kingsword thanks for your reminder.

It's fixed now. And the fix was very easy -- `.mm` file extension wasn't regarded as object-c previously.

[2020-10-20 08:24] #286 closed

[2020-10-20 08:56] kingsword commented on #287
@terryyin Please take a look at this question.

[2020-10-20 09:04] kingsword commented on #287
Case 1：
Test Code
[code]
Result：
[code]

but when I comment "typedef void(^alertActionHandler)(void);" in line 4
[code]
Result is right。
[code]

[2020-10-20 09:08] kingsword commented on #287
Case 2:
Test Code
[code]
Result
[code]
”NS_ENUM@4-8@...“ in line 4 is not a function，but counted.

[2020-10-20 09:24] terryyin commented on #287
case one fixed and passing: https://github.com/terryyin/lizard/commit/06a26064796b16f55bfd3e4b89b2ef94598b30c1

[2020-10-20 09:25] terryyin commented on #287
oh, case 2 also pass.

Thanks!

[2020-10-20 09:25] #287 closed

[2020-11-02 18:28] smorimoto opened #303 "Support OCaml"

[2020-11-04 10:30] itavero commented on #200
The GitLab Code Quality feature supports the Code Climate JSON format out of the box. See [this section](https://docs.gitlab.com/ee/user/project/merge_requests/code_quality.html#implementing-a-custom-tool) in their documentation on adding a "custom" tool for the Code Quality feature.
It would be very nice if Lizard could produce such a format out of the box, so I don't have to write an additional

[2020-11-13 03:05] yql70 opened #304 "Failed do detect go func"
lizard 1.17.7
If there is an anonymous function with a return value type in the testCCN function, it will cause the testCCN function to be undetected.
Even when the latter function testC has a receiver argument, the testC function is not recognized too.

**code：**
[code]
[code]

[2020-11-26 06:48] jackhj000 commented on #293
+1

[2020-11-26 21:17] ana28p commented on #213
I also get wrong methods for C#. From what I noticed, it fails to detect property's set and get:
`public string Filename
        {
            get
            {
                if (string.IsNullOrEmpty(filename))
                {
                    return 'Default';
                }

                return filename;
            }
            set
            {
                filename = value;

[2020-12-01 08:51] yql70 opened #305 "Still fail to recognize the function in .mm file"
Version：Lizard 1.17.7
I see an update in version 1.17.6 : Bug fixing. .mm file was not recognized as object-c(++) file.
![image](https://user-images.githubusercontent.com/34933160/100717404-f297bf00-33f4-11eb-921c-a026b8d1a167.png)
Code:
[code]
Output:

===================================
  NLOC    CCN   token  PARAM  length  location

4      1      9      0       4 OCCFile@9-12@/xxx/OCCFile.mm
4

[2020-12-17 02:23] sungwoonpark opened #307 "Wrong line # reported when '\' is used in C macro"
Hello.

Thanks for developing such great tool.

While I was using it in my code, I found the lizard report wrong line # sometimes. It happens when '\' was used in macro.
As you can see below example, foo function is located at line 8, but the tool reported as line 3.

Can you take a look at this?

command : python3.7 lizard-1.17.7/lizard.py -Ecpre --xml hello.c > hello.c.xml

Here is hello.c
`#def

[2020-12-17 05:07] sungwoonpark commented on #307
Hmm.. github deleted all '\' in the macro. from the starting line to end line of the mymacro, there is '\' at end of the line.

[2020-12-17 05:16] terryyin commented on #307
Thanks. This seems to be a bug. I will find time to fix it.

[2021-01-26 08:15] cg122 opened #308 "Failed to detect abstract methods without method body in Java."
Code metrics do not make much sense for abstract methods without method body. Is it an intentional design to not return results for any abstract methods in Java? But it should be taken into consideration for file level metrics.

Failed following test added in testJava.py:

[code]

[2021-01-26 08:26] cg122 opened #309 "Failed to detect method following an abstract method that does not have method body but with 'throws' in Java"
See the following failed test case added to testJava.py:

[code]
Result function list includes `fun`, but not `fun2`. `fun2` is considered part of `fun()`.

If no throws in abstract method:
[code]

Result function list includes `fun1`, but not `fun`.

[2021-01-26 08:41] terryyin commented on #309
Hmmm, I agree with you. Abstract method shouldn’t be counted. And not dealing with the abstract keyword lead to this bug.

[2021-01-29 10:07] terryyin commented on #309
This is fixed by https://github.com/terryyin/lizard/commit/4891f116489fc5ae9cab781da1264352ad00e749

[2021-01-29 10:07] #309 closed

[2021-02-01 02:54] terryyin commented on #308
Hi @cg122 , do you mean an abstract method should be counted as 1 function?

[2021-02-01 06:45] terryyin commented on #307
Sorry for the long wait. This is fixed by https://github.com/terryyin/lizard/commit/42cc021aaf0346663101a4bad5e5bada170a7e6e.

[2021-02-01 06:45] #307 closed

[2021-02-01 09:07] #308 closed

[2021-02-08 17:49] cg122 opened #310 "Incomplete method name when class definition has generics as type with extends in Java"
Please see the following failed test:

[code]

[2021-02-08 18:05] cg122 opened #311 "Variable declaration with anonymous class initiation detected as method in Java."
`ThreadLocal<Long>` returned as function name that is problematic.

[code]

[2021-02-08 18:17] cg122 opened #312 "Some structures in static blocks are identified as function in Java"
See below the failed test:
[code]

[2021-02-10 04:03] terryyin commented on #310
@cg122 hmm, what about removing the template part to make it like `B::fun`? Would it be good enough?

[2021-02-10 08:06] cg122 commented on #310
@terryyin I think it would be enough as we are also trying to keep function name the simplest form.

[2021-02-16 00:56] terryyin commented on #310
This one is fixed and I will look at the others soon.

[2021-02-16 00:56] #310 closed

[2021-02-24 18:32] docestavivo opened #314 "parameter count of functions?"
What exactly is this count about? Should I indicate it or is it a measurable parameter?

[2021-03-05 06:46] farrrb commented on #284
Having very similar trouble with C language. Sometimes the program on the build server just hang. Reducing the worker thread count to 1 seems to eliminate the problem.

[2021-05-12 13:19] MarcW1g opened #317 "Python - Wrong Cyclomatic Complexity values"
The following piece of code results in a wrong Cyclomatic Complexity value:

[code]

The Cyclomatic Complexity of this method should be 2. However, the tool reports the CCN to be 1.

[2021-05-13 20:54] alyssawangqq commented on #292
Encountered the same issue as well. This seems to be a bug in Lizard python. When function declarations take more than 1 line, all metrics(LOC, CCN etc) will be calculated only on the declaration part but not implmentation

[2021-06-18 08:26] Yuanruitao opened #321 "Wrong to scan jsx"
Hello, when I scanned the JSX file, I found that when the JSX function returns the XML content, the line number and function name in the output result will be wrong.
sample:
[chat.js](https://github.com/terryyin/lizard/files/6675656/chat.txt)
output result(The results in the next few lines are messed up):
[code]
In some cases, the starting line number does not correspond to the function name

[2021-06-22 11:44] MarcW1g commented on #317
Besides the issue with a line break at the end of a comment, there is also an error which occurs in combination with f-strings.

When you put any structure like a list comprehension or a one-line if inside a f-string, the Cyclomatic Complexity number is not incremented, whereas it is incremented when the structure is outside a f-string. See the following examples.

The next code snippet has a comp

[2021-06-22 12:56] MarcW1g opened #323 "Java CCN issue with bounded wildcards"
When the following code snippet is evaluated, the `?` in `Class<? extends String>` is counted as a condition (thus, adding 1 to the CCN). This results in the following method:
[code]
having a Cyclomatic Complexity of 2, even though this should be 1.

[2021-07-10 06:21] terryyin opened #324 "Idea needed: Javascript anonymous functions"
It seems anonymous functions are very common in javascript (so as short lambda in other languages).

I'm wondering if it makes sense to stop counting anonymous function complexity and simply add/merge it to the named function that's containing it.

`
const sum = array => array.reduce((a, b)=>a+b)
`

becomes one function named `sum` with CCN 1.

What do you think?

[2021-07-10 06:30] terryyin commented on #263
TypeScript support was added awhile ago.

[2021-07-10 06:30] #263 closed

[2021-07-10 07:14] terryyin commented on #323
Thanks for the report. It was very easy to reproduce this in a test.

This bug is fixed now.

[2021-07-10 07:14] #323 closed

[2021-07-13 04:35] Mathieu-Lala opened #325 "Question: Support Language Dart (Flutter) ?"
Hi,

I just find this project, looks insanely useful. I want to use it for my Flutter project but there is no Dart support.

Is there any plan to support Dart ?

Thanks for sharing you code !

[2021-07-13 05:13] terryyin commented on #325
In the near future perhaps. I don’t have any experience with Dart yet. Perhaps this is a good chance to learn it.

[2021-07-27 04:35] juancarlospaco opened #326 "Add support for Nim"
## Add support for Nim

Some features of Nim:

- http://nim-lang.org
- Python like syntax, Rust like performance.
- [Has Python StdLib ported for Nim.](https://github.com/juancarlospaco/cpython#alternative-stdlib-for-nim-for-python-targets)
- [Guide for Python developers.](https://github.com/nim-lang/Nim/wiki/Nim-for-Python-Programmers#table-of-contents)
- Can be used to do Python modules.
- Rust

[2021-08-25 14:03] liiri commented on #222
Hiya all,
I'm very invested in supporting Kotlin, but am not very familiar with the language. If anyone that's also familiar with Lizard low-level can assist me with a few questions in the integration I'd be happy to make a pull request :)

[2021-08-29 16:58] liiri commented on #293
The core of the problem here is that the tokenizer is expecting every open html tag, i.e `<Tag>` to end with a closing tag `</Tag>`.
However, js also have generics, i.e `Array<Tag>` and then we quickly get into endless recursion of not having any closing tags.

Example snippet out of the referenced pettier:

[code]

echo `<Comment>` block is leading us to nest into another tokenizer ...
Not sure w

[2021-09-13 21:59] tigerinus opened #329 "VSCode extension please"
Awesome tool. Would be nice to have a VSCode extension for this.

[2021-09-22 09:40] docestavivo opened #330 "Error connecting the analysing server."
The web application is not working :(

[2021-09-23 00:03] kiefh commented on #330
I'm having the same issue. Its saying "Error connecting the analysing server." when I press analyse, for all programming language options.  I'm using the online version.

[2021-09-27 08:55] emillayosa opened #331 "TSX Support"
This is a very great and helpful tool. Any chance you can also support TSX TypeScript files in the near future?

[2021-10-03 02:14] mrinterestfull opened #332 "add support for .gitignore in the -x flag"
Hello,
What can I do to tell lizard command to use .gitignore and exclude files folders using that.

There are 30 exclude folders,etc.

Thank you
Lucas

[gitignore.txt](https://github.com/terryyin/lizard/files/7272550/gitignore.txt)

[2021-10-08 12:14] liudeping opened #333 "Objc method get parameter's count always is 0"

[2021-10-13 04:55] #222 closed

[2021-10-13 15:45] G-DUBZ commented on #329
[C/C++ Advanced Lint](https://marketplace.visualstudio.com/items?itemName=jbenden.c-cpp-flylint) offers a variety of Static Analyzers, this includes lizard, however my issue is getting VS Code to detect that lizard has been installed.

[2021-11-06 22:23] dmctavish opened #334 "support for blank lines & comments"
Hi
I was hoping it wouldn't be too much of a hassle to add support for blank lines as well as comment lines?

[2021-11-07 14:25] dmctavish commented on #334
A couple of questions hopefully for @terryyin

I started tinkering, and thought I could model this after the bool extension, but I wanted confirmation that "comment" tokens aren't skipped over.
my theory is: if I use the reader.get_comment_from_token() I can determine if we are in a "comment", and if so, increment the counter

One thing I'm also noting is that the Python language does not have sup

[2021-11-07 14:48] dmctavish opened #335 "Python language does not support multi-line quotes"
hoping for some thoughts on this from @terryyin

Python inherits its comment detection from ScriptLanguageMixIn, which only supports the hash character
The below still doesn't support multi-line comments... still trying to figure out how to associate between multiple tokens, perhaps that should be done in the reader

It would be nice if the comment fields were promoted as first-level members on th

[2021-12-01 07:37] DDevine opened #336 "Cannot ignore a function defined on a Lua class"
The function is:
![image](https://user-images.githubusercontent.com/913394/144190677-8b6f1af6-2e47-4fa8-a703-5ecde1623c12.png)

As you can see I tried placing the pragma before, inline and inside the function.

The error I get is:
`light_driver/light_driver.lua:478: warning: Lighting has 86 NLOC, 27 CCN, 695 token, 0 PARAM, 106 length`

I noticed it doesn't reference the actual function (which sho

[2021-12-06 10:13] forster32 commented on #288
the similar issue for me in python2, the reason is that there are Chinese comments in the code.
But after I re-installed with python3, it was fixed

[2021-12-06 21:50] MichaelBMiner opened #337 "Jenkins Integration"
Hello,

I have started using lizard in Jenkins. I am using the HTML Publisher plugin for Jenkins to read the lizard output to generate a report. I am wondering if there is a way to compare the current lizard output with the previous, then color code the html report. Does this feature exist?

[2021-12-16 06:15] kpsamuel opened #339 "log4j vulnerability validation"
Hi team,
as we all know log4j vulnerability came recently and I am using lizard soo need to know is lizard is using log4j internally or not.

[2021-12-16 06:34] terryyin commented on #339
Not directly. The one chance that log4j is related to lizard is when people are running it on JPython.

But as a static analysis tool, I don’t think the threat is relevant, unless someone is running it as a service…

[2021-12-17 07:46] ryuichi0704 opened #340 "Bug in lizard for Kotlin function with type hints"
Hi Team,

As shown in the attached image, when the return value of a function in Kotlin has a type hint, it do not seem to recognize the function correctly.

![スクリーンショット 2021-12-17 16 40 33](https://user-images.githubusercontent.com/37651368/146507793-77fb56e0-9cb5-42fc-abfd-afc8d283607a.png)

We would appreciate your support.

[2021-12-20 09:16] #339 closed

[2021-12-31 09:06] cyw3 commented on #293
Thanks!

[2021-12-31 09:06] #293 closed

[2022-01-25 18:55] 0xf1e opened #341 "Extension "Count Nested Control Structures" -ENS fails on most Rust code"
The extension fails often enough that the program won't finish in most larger crates.

# How to reproduce
[code]
will cause the following output:
[code]
When lizard fails on Rust code, it always fails with the same error message as above.

If you need an example of a crate where lizard does not fail, there is https://github.com/ssokolow/rust-cli-boilerplate, where it computes NS values above 0 on

[2022-01-26 15:15] ariv797 commented on #325
This would be awesome! 👍🏼

[2022-02-23 12:21] arakhia opened #342 "File (Classes) Complexity"
Hi There,

Thanks for such an amazing tool. I have a questions regarding File Complexity for Java/Kotlin Files. How Lizard is actually calculating complexity? it is an aggregation of methods complexity? or it calculates class complexity? in that case, does it take into account nested classes as well or ignore them?

Thanks for your time

[2022-02-28 12:05] priyamalart opened #343 "Javascript: handling of anonymous function is supported?"
I have used this command to check the code complexity for javascript based code:
Anonymous function is listed as lines of code exceed 80. How to handle this?

**lizard -l javascript -C 15 -T nloc=80 -T cyclomatic_complexity=15**

15:39:05       281      3    254      1     281 (anonymous)@109-389@./ric/noma/src/nomaMeas.js
15:39:05        85      1    256      0      85 (anonymous)@62-146@./ric/no

[2022-03-16 09:08] nhkrishna5 commented on #61
Hi @terryyin
How to create the custom file, to override  "cyclomatic complexity number". In iOS Swift.

Like mentioned in
-T THRESHOLDS, --Threshold THRESHOLDS
                      Set the limit for a field. The field can be nloc, cyclomatic_complexity,
                      token_count, parameter_count, etc. Or an customized file. Lizard will
                      report warning if a function ex

[2022-03-24 12:47] wjonessmd opened #347 "Ruby and modified complexity"
For modified complexity (-m) in Ruby Lizard is counting all the 'when' statements and not counting the 'case' statements. It needs to be the other way round.

Ruby to analyse,

def case
	y = 0
	x = 3
	case x
	when 1
		y = 1
	when 2
		y = 2
	when 3
		y = 3
	when 4
		y = 3
	when 5
		y = 3
	when 6
		y = 3
	when 7
		y = 3
	when 8
		y = 3
	when 9
		y = 3
	when 10
		y = 3
	when 11
		y = 3
	when 12
		y =

[2022-03-24 18:12] wjonessmd commented on #347
I think the problem is in lizard/lizard-ext/lizardmodified.py. The code from that file is,

'''
This is an extension of lizard,
It lets lizard to use modified cyclomatic complexity number,
where the whole switch/case will be counted as 1.
'''

class LizardExtension(object):  # pylint: disable=R0903

    def __call__(self, tokens, reader):
        for token in tokens:
            if token == 'switc

[2022-03-31 20:18] tknerr opened #348 "Negated exclude, or specific include?"
Hi everybody,

is there a way to invert / negate the `-x` exclude pattern?

For example, let's assume a source tree which has multiple `*/test/*` sub-directories, e.g. one per component.

With `lizard src/ -x "*/test/*"` I can easily get the SLOC / CCN for **everything but** test code.

But how would I get the SLOC / CCN for **only** the test code?

(I haven't found a way to explicitly include a p